[2018-11-01 04:05] killmasta93 opened #9 "Fatal config file error"
Hi,
I was wondering if someone has had the same issue has trying to import the module i keep getting

root@sqlserver:~/redis-timeseries/src# redis-server --loadmodule /root/redis-timeseries/src/redis-tsdb-module.so

*** FATAL CONFIG FILE ERROR ***
Reading the configuration file, at line 2

Bad directive or wrong number of arguments

any ideas?

[2018-11-01 13:39] itamarhaber commented on #9
Hello @killmasta93

Most likely, your redis-server version is too low. Modules are supported in Redis v4 or above.

Closing this issue - feel free to reopen.

[2018-11-01 13:39] #9 closed

[2018-11-06 14:15] gkorland opened #13 "travis-ci should be updated to the new repo"
[code]

[2018-11-18 15:55] danni-m commented on #13
@gkorland we moved to circleci in the new repo

[2018-11-18 15:55] #13 closed

[2018-12-08 23:23] gacha opened #23 "some data missing after server restart"
Hi,

so I create a TS list `TS.CREATE temp` and then with a script I insert each 5 minutes a reading (0..30) for one year - 105120 in total. I insert the same data in a sorted set `ztemp`. The result is as follows:
[code]
then I save the db `SAVE` and restart the server. After that the result is as follows:
[code]
After restart the `temp` list has only 8 chunks and the serialized length is very sm

[2018-12-18 21:32] danni-m commented on #23
@gacha looks like a bug, the following is the expected behivor:
1.  have x samples in ztemp
2. save
3. restart
4.  read ztemp -> expected is x samples

[2018-12-19 13:35] danni-m commented on #23
@gacha I fixed the issue in the `labels` branch. im planning on merging it soon (need to finish documentation).

[2018-12-20 20:59] gacha commented on #23
Tested the `labels` branch and now `TS.INFO` shows the same before and after save&restart.

Thanks.

[2018-12-20 20:59] #23 closed

[2018-12-27 14:51] gkorland opened #24 "publish docker container on docker-hub"

[2019-01-13 18:09] qbazd opened #25 "Disappearing data"
Hi all.

I've been playing with this module mainly for stats with Grafana.
I'm getting some strange behaviour.
As data come, reading older data is being unavailable.

My test environment is Redis 5.0.3 (compiled from source).

My test case is to write timeseries of values (time is 0 to sample_len with values of time).
After writing time series. Read whole as smaller overlapping chunks.

I'm expect

[2019-01-22 11:17] madshargreave opened #27 "Production ready?"
Hi

Is this project considered production-ready?

[2019-01-24 10:18] gkorland opened #28 "TS.RANGE with a too large TIMESTAMP returns no results"
[code]

[2019-01-27 17:04] danni-m commented on #28
@gkorland I couldn't reproduce, can you provide the dataset?

[2019-01-28 09:34] gkorland opened #30 "INCRBY by float throws "wrong number of arguments ""
[code]

[2019-01-28 09:36] gkorland commented on #28
It happens every time..

[code]

[2019-01-30 08:51] danni-m opened #34 "Allow creating key with labels only"

[2019-01-30 09:00] #25 closed

[2019-01-31 11:26] gkorland opened #37 "INCRBY strange behavior on when called after CREATE"
[code]

[2019-01-31 11:29] gkorland opened #38 "INCRBY not working"
[code]

[2019-02-03 13:36] gkorland opened #39 "Crash on FLUSALL with TS with labels"
[code]

[code]

[2019-02-12 14:52] gkorland opened #41 "Add verbose to traffic_simulator"

[2019-02-15 15:49] danni-m commented on #27
@madshargreave we are working on a release in the next couple of months.
You can contact us directly if you wish: danni =at= redislab.com

[2019-02-15 15:49] #27 closed

[2019-02-15 15:49] #39 closed

[2019-02-15 15:49] danni-m commented on #41
@gkorland what do you mean by verbose?

[2019-02-15 15:57] #30 closed

[2019-02-15 15:59] danni-m commented on #38
@gkorland `INCRBY` uses local clock's timestamp, in your example you used a very low timestamp (100) which might caused this.

[2019-02-17 09:23] gkorland opened #43 "TS.CREATERULE destKey can only be of type timeseries"
According to Documentation:
DEST_KEY should be of a timeseries type, and should be created before TS.CREATERULE is called.

[code]

[2019-02-17 09:24] gkorland commented on #43
MOD-154

[2019-02-17 09:25] gkorland opened #44 "Redis crashes when running 'TS.DELETERULE <keyname>'"
Steps:
1. Create a redis time series key

[code]

2. Run:

[code]

[2019-02-17 09:26] gkorland commented on #44
MOD-155

[2019-02-17 09:27] gkorland opened #45 "Memory usage after redis restart is half from before"
MOD-152

Steps:
1. Put 1.51 million keys.
The memory usage will be around 17GB.
2. Enable aof
3. Restart the shard.
When the shard will restart and load from aof the used memory is less than 8gb.

[2019-02-17 09:29] gkorland opened #46 "Database memory frag is wrong"
Steps:
1. I've created a database with TSDB
2. I ran the traffic tool with 10k keys
3. The database used memory is 527.34 MB

[2019-02-17 09:29] gkorland commented on #46
MOD-149

[2019-02-17 09:30] gkorland opened #47 "Crash on FlushAll"
Steps:
1. Create key with labels
2. Add event
3. FlushAll

[2019-02-17 09:36] gkorland commented on #41
Giving some console out put about the current phase
[code]

[code]

[2019-02-17 09:38] gkorland opened #48 "Refactor API"
ref https://github.com/RedisLabsModules/RedisTimeSeries/issues/34

[2019-02-17 09:40] #24 closed

[2019-02-17 09:44] #47 closed

[2019-02-17 09:44] gkorland commented on #47
duplicate #39

[2019-02-17 09:55] gkorland opened #49 "Add Examples"

[2019-02-18 12:08] gkorland opened #50 "Add command: TS.ALTER"
Add support for ALTER command

[code]

[2019-02-18 12:09] K-Jo commented on #34
duplicate of #48

[2019-02-18 12:09] #34 closed

[2019-02-18 12:16] gkorland opened #51 "Update docs to reflect new API"

[2019-02-18 12:17] gkorland opened #52 "Add source code headings"

[2019-02-18 12:20] K-Jo opened #53 "Update benchmark code"

[2019-02-19 13:06] #44 closed

[2019-02-24 05:31] Roger opened #58 "query last value of the time series"
Is there any way to query the last value, the last added one of a time series?

[2019-02-24 15:19] yaeltzirulnikov commented on #28
This doesn't happen on latest master:
127.0.0.1:6379> ts.create key
OK
127.0.0.1:6379> ts.add key * 1
OK
127.0.0.1:6379> ts.range key 1 999999999999999999
1) 1) (integer) 1551021388
   2) "1"

[2019-02-24 15:19] #28 closed

[2019-02-25 15:22] chrisa23 commented on #50
How would the ALTER function work?

I'm curious for thoughts on allowing the ADD command to also update older points.  An example situation I deal with is weather forecasts, which extend into the future and have many updates to existing points.  Are there concerns with allowing ADD to update older points without error rather than adding a separate ALTER function?   ADD can update the latest point

[2019-02-27 11:27] yaeltzirulnikov opened #59 "Bug: ts.createrule allows creating rules with bad aggregation type and crashes for some aggregation types"
When running create rule with aggregation type that is a prefix of a valid aggregation type, it works, for example:
ts.createrule key ma 3 dest_key (works since 'ma' is the beginning of 'max')
ts.createrule key av 3 dest_key (works since 'av' is the beginning of 'avg')
ts.createrule key s 3 dest_key (works since 's' is the beginning of 'sum')
This happens because we compare the given aggregation t

[2019-02-27 17:41] gkorland commented on #50
The Alter is not going to allow you change historical data but to add/update labels or other settings of the timeseries

[2019-02-27 23:08] danni-m commented on #58
@Roger we are planning to add such a command in the future. is there any specific use-case you have in mind?

[2019-02-28 07:01] chtt66 opened #60 "advantage？"
What are the significant advantages of redis-based TSDB over other TSDB? Or what is the reason for designing a timeseries database based on redis?

[2019-02-28 07:03] chtt66 commented on #60
The document does not have a detailed description.

[2019-02-28 14:23] itamarhaber commented on #60
Hello @chtt66

Performance is the main reason for using Redis and Redis-based solutions. The docs are being worked on and that's a good point to include in them.

[2019-02-28 18:38] #48 closed

[2019-03-01 18:23] K-Jo commented on #58
something like
[code]
which would just return you the latest value?

[2019-03-04 16:22] Roger commented on #58
yes, exactly like that

[2019-03-07 08:22] gkorland opened #61 "MRANGE Secondary tags filer not working"
[code]

[2019-03-07 08:23] gkorland opened #62 "MRANGE - FILTERS should be optional"
@K-Jo

[2019-03-07 08:25] #52 closed

[2019-03-07 09:09] K-Jo commented on #62
@gkorland They are mandatory because otherwise you would query the entire keyspace
@danni-m

[2019-03-07 09:39] gkorland commented on #61
@danni-m I found the issue (my mistake)
[code]
Should be
[code]

But it seems like there is another bug here, the following should have return an empty list too....
[code]

[2019-03-07 09:44] gkorland commented on #61
@K-Jo notice there is another bug here

[2019-03-07 11:55] #53 closed

[2019-03-07 11:55] #51 closed

[2019-03-07 11:58] #38 closed

[2019-03-07 12:03] K-Jo opened #63 "Integrate RedisTimeSeries in https://github.com/RedisTimeSeries/tsbs"
- Documentation of running TSBS with RedisTimeSeries needs to be present

[2019-03-07 13:34] #61 closed

[2019-03-11 13:18] danni-m commented on #37
@gkorland this is invalid ticket, you used a low timestamp (1007) here is an example that works:
[code]

[2019-03-11 13:19] #37 closed

[2019-03-11 13:19] danni-m commented on #62
@K-Jo can we close this?

[2019-03-11 14:01] #58 closed

[2019-03-11 14:11] #62 closed

[2019-03-14 11:22] K-Jo opened #65 "Add reference to Prometheus"

[2019-03-14 11:25] K-Jo commented on #65
Documentation should contain a docker compose file to combine RTS with Prometheus container

[2019-03-17 16:45] danni-m opened #66 "INCRBY is not consistent with ts.add reported samples"
Example:
[code]

[2019-03-17 16:51] #66 closed

[2019-03-18 11:30] theronic opened #67 "32-bit ARMv6 support? redistimeseries.so failed to load: undefined symbol: __aeabi_uldivmod"
I compiled redistimeseries.so and redis-server on a Raspberry Pi Zero W. When I try to load the module from the redis-cli, I get an error that seems to pertain to 32-bit vs 64-bit systems:

[code]

I know Redis supports 32-bit, but does RedisTimeSeries?

[2019-03-18 12:17] gkorland commented on #67
https://stackoverflow.com/questions/25623956/aeabi-ldivmod-undefined-when-compiling-kernel-module

[2019-03-18 13:08] markusr opened #68 "TS.ADD Ignores new labels"
I don't understand how adding new labels after ```TS.CREATE``` should work.

[code]
As expected. Now I add a new time sample with an additional label.

[code]
The  label ```type``` is completely ignored.

[code]

Is this the designed and desired behavior?

[2019-03-18 13:13] gkorland commented on #68
The labels on are only used on the first call, in the key was not created in the advance.
It's "sugar" API to allow you avoid calling TS.CREATE and then TS.ADD

[2019-03-18 13:13] #68 closed

[2019-03-18 13:23] markusr commented on #68
@gkorland  ok. I understand the design.

I wonder if the call with a non existing label should return an error?
Or only allow optional parameters on empty keys.

[2019-03-19 11:58] gkorland commented on #68
@markusr it's a good question but since we feel like performance and high TP/low latency is the most important property for TimeSeries DB, I don't think we should add any runtime checks

[2019-03-19 20:03] markusr commented on #68
I agree that for performance it is better to ignore the optional parameters.
Maybe add this behavior to the documentation?

[2019-03-19 20:34] K-Jo commented on #68
@markusr  it's mentioned in the notes: https://oss.redislabs.com/redistimeseries/commands/#update
Please advice if this was not clear enough

[2019-03-20 13:40] markusr commented on #68
@K-Jo  Yes, the notes are not clear (at least not to me):

[code]

My understanding is that RedisTimeSeries will never update the labels (or retentionSecs).

[2019-03-20 14:18] K-Jo commented on #68
Ok I will add that executing this check (without updating it) adds time complexity

[2019-03-20 14:48] K-Jo commented on #68
https://github.com/RedisLabsModules/RedisTimeSeries/pull/69

[2019-03-21 17:23] markusr commented on #67
I don't think that this is a 32-bit problem. I tested it on a Raspberry Pi 3B.
it compiles, loads and runs payload without problems.

It think the problem is that Raspberry Pi Zero W is ARMv6 and Raspberry Pi 3B is ARMv7.

@theronic
Which gcc did you use?

[2019-03-26 06:54] theronic commented on #67
@markusr:

[code]

Any idea how to get past this issue?

[2019-03-26 09:53] markusr commented on #67
I have the same gcc version on Raspberry Pi 3B, so we can rule this out.

Please try adding
[code]

to the ```CFLAGS``` in the Makefile.

If this fails try some values for ```-march```,  see [GCC ARM options](https://gcc.gnu.org/onlinedocs/gcc/ARM-Options.html).

[2019-03-26 16:46] danni-m commented on #67
@theronic I have an extra raspberrypi laying somewhere, I might be able to look into this in 2 weeks.

[2019-03-26 17:39] K-Jo commented on #67
@andresrinivasan

[2019-03-27 08:21] theronic commented on #67
@markusr when I modify the line in Makefile to:

    CFLAGS = -I$(RM_INCLUDE_DIR) -Wall -O3 -g -fPIC -lc -lm -std=gnu99 -mfloat-abi=soft  -DREDIS_MODULE_TARGET -DREDISMODULE_EXPERIMENTAL_API

I get error " fatal error: gnu/stubs-soft.h: No such file or directory":

[code]

[2019-03-27 08:23] theronic commented on #67
Also tried with `-march=armv6zk` on same line. No dice.

[2019-03-27 08:25] theronic commented on #67
@markusr when I run, `dpkg --print-architecture`, I get armhf, so it's running a hard float architecture, and wouldn't expect soft float to work.

[2019-03-27 08:31] theronic commented on #67
Perhaps [this patch](https://github.com/DynamoRIO/dynamorio/commit/6e5529a27aadac634ee1f1cc7ea1f211aef74ce3) to another library is relevant to get these symbols defined?

[2019-04-04 14:19] OskarHandmark opened #72 "TS.INCRBY - Feature Request: Allow timestamp param"
Hi. Just started using RedisTimeSeries. One feature that would be fantastic is to be able to specify `timestamp` for `INCRBY`.

I'm doing some bucketing on data that needs to be bucketed by their inherent timestamp (not using system clock). Let me know if there's another clever way to accomplish the same thing with the same performance.

### Solution inserting a lot of ones
I don't imagine this sc

[2019-04-04 21:52] K-Jo commented on #43
@danni-m still valid?

[2019-04-04 21:56] K-Jo commented on #72
Suggested commands
[code]

[2019-04-08 11:09] #65 closed

[2019-04-08 11:36] K-Jo opened #73 "Filter by list"
Filter that allows to query timeseries with a field that can has one of the values in the supplied list.
[code]

[2019-04-08 11:38] K-Jo commented on #49
@gkorland is this regarding the documentation examples in the commands?  If so can we close this?

[2019-04-08 11:43] K-Jo opened #74 "TS.MGET Get latest value of several timeseries"
Similar as TS.GET but with filters in stead of a single key
[code]

[2019-04-08 13:37] K-Jo opened #75 "Refactor TSBS client insertion"

[2019-04-10 09:12] gkorland commented on #74
I don't think we need TS.GET or TS.MGET.
It feels like TS.RANGE and TS.MRANGE cover these two

[2019-04-10 09:13] gkorland commented on #75
@K-Jo what does it mean?

[2019-04-10 20:17] gkorland opened #76 "Add support for TS.CREATERULE to sample historic data"
TS.CREATERULE should allow user to mark for historic data sampling and not only future

[2019-04-10 20:19] gkorland commented on #74
We should also add a way to block on TS.GET/TS.RANGE for result and I think we should add support to get the last count results or the last X seconds

[2019-04-10 20:20] gkorland commented on #73
We might need to think the filter API and see if we need to define something more generic

[2019-04-10 20:21] gkorland commented on #73
Or we should keep this one simple and use another keyword/command for more general filter based on RediSearch

[2019-04-10 20:52] gkorland opened #77 "Calling "DEL KEY" should delete related Rules"

[2019-04-10 20:53] gkorland opened #78 "Calling "RENAME KEY" should update related Rules"

[2019-04-10 20:53] gkorland opened #79 "Define semantic for Cyclic RULES"
[code]

[2019-04-10 20:54] gkorland opened #80 "Define semantic for RULES error on update target"
[code]

[2019-04-10 20:58] gkorland opened #81 "Define semantic for Multi layer RULES"
[code]

[2019-04-10 21:01] gkorland opened #82 "Add support for RediSearch indexes"
1. Allow free text search filter
2. Allow GEO filter
3. Complex filter language

[2019-04-10 21:17] gkorland opened #83 "Add support aggregation queries on GPU"

[2019-04-10 21:25] K-Jo commented on #74
or the last x samples

[2019-04-11 07:33] gkorland opened #84 "Add support for more aggregation functions (MEDIAN, DEVIATION)"

[2019-04-11 07:56] K-Jo opened #85 "Add new python driver to the docs"
https://github.com/ashtul/redistimeseries-py

[2019-04-27 14:27] theronic commented on #67
Any idea how to fix this? I'm blocked on using RedisTimeSeries on a Pi Zero for some IoT monitoring. Reluctantly have to coax InfluxDB not too suck memory dry.

[2019-04-27 20:01] itamarhaber commented on #67
Referring this to our resident ARM expert @rafie

[2019-04-29 09:23] danni-m commented on #67
I need access to a RPi Zero, @itamarhaber do we have one in the office maybe?

[2019-04-29 12:28] otnielvh opened #93 "Add documentation for ts.queryindex"
Added the command TS.QUERYINDEX but doesn't appear in documentation:
https://oss.redislabs.com/redistimeseries/commands/#query

[2019-04-29 13:24] itamarhaber commented on #67
Yes - @gkorland has at least 3.14 of these.

[2019-04-29 18:52] ivost opened #94 "Timestamp resolution limited to seconds?"
Default timestamp is in seconds

ts is 64 bits - so it allows millisecond resolution.

What is the behavior of rules and other functions if client inserts time milliseconds insead of seconds

Is it possible to expand time series to use milliseconds?

[2019-04-29 21:54] #85 closed

[2019-05-01 10:34] ashtul opened #95 "Possible memory leak"
In module.c at line 40 memory is allocated for labels array but isn't freed later.

[2019-05-01 14:40] danni-m commented on #95
@ashtul from looking at the code, this allocation is later used to keep the labels inside the key, so its not a leak.

[2019-05-01 14:40] #95 closed

[2019-05-02 13:00] rafie commented on #67
I'm running a QEMUlated stretch Raspbian with 4.14 kernel. Built Redis & TS with native ARM gcc 6.3.
I got the module loaded. It crashed upon the very first TS.CREATE command, in what might be a memory alignment issue.
Investigation continues.

[2019-05-06 02:23] cur3n4 opened #96 "Allow adding out of sequence new values to the series"
If new values are added to a series out of order, the module returns an error: TSDB: timestamp is too old.
Would it be possible to allow values for a timestamp < latest series timestamp.
Thanks

[2019-05-07 08:27] danni-m commented on #96
@cur3n4 there's a performance tradeoff for adding "not-in-order" samples.
If you would need to insert data in already compacted data structure, it means that every time you do that you move data and reallocate memory (with compression that also means to decompress and compress it again).

It not something we are planning to add at this stage, we are focusing on performance, so we pick this specifi

[2019-05-07 09:47] cur3n4 commented on #96
@danni-m Thanks for that, I suspected that was the reason.
For us, it makes some scenarios somehow tricky to deal with.

In any case, congrats for the library and looking forward to see it evolve.

[2019-05-07 10:34] danni-m opened #97 "Block not supported rule semantic"
Currently we only allow:
Parent = Raw TS key that gets samples via TS.ADD
Child = Aggregated TS key using downsmapling rule

1. Each child can have 1 parent
2. A parent cannot have a rule that will aggregate to himself
3. A child cannot have any children
4. A parent can have multiple children

[2019-05-07 13:57] #96 closed

[2019-05-07 13:58] danni-m commented on #94
@ivost there's a documentation gap, you can use milliseconds with the following caveats:
1. On aggregation function you need to pass secs normalized to milisecs (60 -> 60000)
2. `TS.ADD * VALUE` - the automatic timestamp will use secs instead of millisecs. we are planning to fix it.
3. Retention - you need to pass secs normalized to milisecs (60 -> 60000)

[2019-05-08 00:29] eadlam opened #98 "What is the recommendation for long-term persistence?"

[2019-05-08 10:06] K-Jo commented on #81
https://github.com/RedisLabsModules/RedisTimeSeries/issues/97

[2019-05-08 10:06] #81 closed

[2019-05-08 10:06] K-Jo commented on #80
https://github.com/RedisLabsModules/RedisTimeSeries/issues/97

[2019-05-08 10:06] #80 closed

[2019-05-08 10:07] K-Jo commented on #79
https://github.com/RedisLabsModules/RedisTimeSeries/issues/97

[2019-05-08 10:07] #79 closed

[2019-05-08 10:09] K-Jo opened #99 "Support for Multi Layer rules"

[2019-05-08 10:10] K-Jo commented on #74
https://github.com/RedisLabsModules/RedisTimeSeries/pull/92

[2019-05-08 16:53] K-Jo commented on #74
Needs documentation, thanks @itamarhaber

[2019-05-09 15:06] K-Jo commented on #98
Hi @eadlam can you elaborate if you refer to durability and/or backup or to moving older (potentially downsampled) data to a slower storage?

[2019-05-15 10:51] K-Jo commented on #59
@yaeltzirulnikov @danni-m can we validate if this is still valid?

[2019-05-15 10:55] gkorland commented on #59
It seems like the server doesn't crash anymore but it does let you aggregate using only the prefix

[2019-05-21 01:33] NiNJAD3vel0per opened #101 "So license is free for production?"
I've tried to read license..hard to understand.
What is license model simply for production/commercial? anyone can use it without fee?
Why not just MIT or Apache? Do you guys have a plan to make a commercial license in near future?

[2019-05-21 07:03] gkorland commented on #101
You can read more about it here: https://redislabs.com/blog/redis-labs-modules-license-changes/

Basically, as long as you don't develop or use a "Database Product" as defined in the license you're allowed to use the product.

[2019-05-23 02:46] NiNJAD3vel0per commented on #101
@gkorland

Okay, I read the article.
I am a SaaS developer&provider(opensource/commercial). I am going to use Redis server as one of main databases.
I may include docker compose to let users install Redis freely as desired. Is it okay with RSAL?
The license FAQ clearly indicated that it doesn't allow distribute database(Redis) under RSAL.
So if I include docker image or dockerfile like that, this

[2019-05-23 22:54] K-Jo opened #105 "Document Module config parameters"

[2019-05-26 08:45] gkorland commented on #101
That is the main point, as long as you don't sale "Database" but sell another business service it's OK.

[2019-05-26 08:47] gkorland commented on #101
If you have any more question feel free to write me - guy dot korland at redislabs dot com

[2019-05-26 11:52] gkorland commented on #77
It seems like in order to delete rules on child delete we need to have back reference from the child to the parent, @danni-m ?

[2019-05-26 11:54] gkorland commented on #97
It seems for 3 and 1 we need back reference to the parent @danni-m ?

[2019-05-27 13:27] gkorland opened #109 "Add support for annotations"
See: https://grafana.com/docs/v3.1/reference/annotations/

[2019-05-27 14:09] danni-m opened #110 "Block empty label's value"

[2019-05-27 14:10] #101 closed

[2019-05-29 08:32] danni-m commented on #97
@gkorland yes.

[2019-05-31 15:18] theronic commented on #67
@antirez wrote about [unaligned memory issues](http://antirez.com/news/111) on the Raspberry Pi. Perhaps the same applies to RedisTimeSeries?

[2019-06-02 09:51] danni-m opened #113 "Potential memory leak in TSDB_queryindex and TSDB_mrange"
Both function use `parseLabelListFromArgs` which uses malloc to allocate the strings, those strings are not released since we allocate in `_parseLabel` using RedisModule_CreateString and ctx==NULL.

[2019-06-02 12:30] #110 closed

[2019-06-02 15:36] gkorland opened #115 "TS.RANGE not returning results if Retention bigger than sample time"

[2019-06-02 19:43] #115 closed

[2019-06-02 20:18] #50 closed

[2019-06-03 11:21] otnielvh commented on #93
Done in: https://github.com/RedisTimeSeries/RedisTimeSeries/pull/103

[2019-06-03 11:21] #93 closed

[2019-06-03 16:12] gkorland opened #118 "tests/test_module.py::RedisTimeseriesTests::test_automatic_timestamp FAILED"
test_automatic_timestamp fails randomly

[code]

[2019-06-04 11:05] #74 closed

[2019-06-04 11:08] K-Jo commented on #113
relates to #45 and #46

[2019-06-04 11:33] K-Jo opened #119 "Block label values containing `(` `,` `)`"

[2019-06-04 11:34] K-Jo commented on #119
to prevent failure in #73

[2019-06-04 11:54] K-Jo opened #120 "TS.ADD should return timestamp"
+ clients!!

[2019-06-04 13:46] #59 closed

[2019-06-04 17:51] #119 closed

[2019-06-05 07:41] #120 closed

[2019-06-05 22:27] ashtul commented on #84
standard deviation is added in [PR #125](https://github.com/RedisTimeSeries/RedisTimeSeries/pull/125).

[2019-06-07 20:12] stockholmux opened #126 "Add Versioning to command documentation"
Many of the commands in the documentation are not available when running the module in Docker. There should be some indication that, say, `TS.ALTER` or `TS.MGET` are only available in the master branch.

[2019-06-08 11:21] danni-m commented on #126
@stockholmux which docker image are you using?

[2019-06-10 15:36] #97 closed

[2019-06-11 11:17] #77 closed

[2019-06-11 11:41] #43 closed

[2019-06-11 12:29] K-Jo opened #128 "Add TS.MADD command"
Allow to set several measurements for the same timestamp similar to https://redis.io/commands/mset

[2019-06-12 14:23] stockholmux commented on #126
[code]

[2019-06-12 16:03] K-Jo commented on #126
@stockholmux as RedisTimeSeries is not GA yet, we don't plan the documentation to align with several versions.  Once this is the case, we'll add when new commands are added.

[2019-06-12 16:03] #126 closed

[2019-06-12 16:06] stockholmux commented on #126
You should do _something_ to warn someone that documentation will not align. It's a frustrating experience to try out the software otherwise.

[2019-06-13 11:01] gkorland commented on #113
@danni-m Is it still relevant?

[2019-06-13 14:17] danni-m commented on #113
@gkorland yes

[2019-06-15 19:46] gacha opened #132 "MRANGE segmentation fault with empty label list"
On latest master at time of writing:
`TS.MRANGE 1560526942 1560627260 FILTER test=()`
results in segmentation fault, probably should be a syntax error.

Thanks in advance.

[2019-06-15 19:54] itamarhaber commented on #132
Hello @gacha

Thanks for taking this for a ride and even more so for reporting this issue - looks like a trivial check is missing ;)

[2019-06-15 21:16] gacha opened #133 "How the FILTER works?"
I want to filter one sensor, then multiple sensors then all sensors. This is how I tried to do it:
[code]
It looks like only `k=v` works and there is a bug or I do not understand the documentation correctly.

Thanks.

[2019-06-16 07:29] danni-m commented on #133
@gacha Thank you for you feedback.
It does seems like a bug:
1. there's a limitation that you should always pass at least one matcher (k=v), the reason for that is index query performance and to avoid reading all the data in the db.
2. the following should worked as a matcher:
[code]

[2019-06-16 08:14] #73 closed

[2019-06-16 08:19] K-Jo commented on #98
@eadlam is this still relevent?

[2019-06-16 10:26] #118 closed

[2019-06-16 11:14] #132 closed

[2019-06-16 14:24] danni-m commented on #113
This was fixed as part of @otnielvh PR with the list matching

[2019-06-16 14:24] #113 closed

[2019-06-16 14:25] danni-m opened #136 "SeriesIterator leaks his dict iterator"
[code]

[2019-06-16 17:07] #136 closed

[2019-06-18 19:15] rudmac opened #141 "How to query a range by count?"
Hello,

1) Is it possible to get the last N events time from a key instead of using time range?

2) Also, is it possible to set a trim to a time series by certain number of entries instead seconds?

If not, could be a future feature?

Thanks!

[2019-06-18 20:54] #133 closed

[2019-06-18 20:56] gkorland commented on #141
@rudmac no, currently it only supports time range.
Can you please extend on your use case/need?

[2019-06-19 08:25] K-Jo commented on #141
@rudmac there is TS.GET and TS.MGET to get the last value. (N=1)  We have considered having an optional parameter there to specify the number of samples you want to retrieve.

[2019-06-19 11:05] danni-m commented on #133
@gacha if you having additional feedback, we will appreciate it.

[2019-06-19 15:12] rudmac commented on #141
@gkorland When working with financial market and in my case with pair trading algo with a lot of linear regression calcs, we have for eg.: all close day history price inside redis, and we do pair close price lr calcs with 250, 200, 150, 100 days history, but we don't know the exactly timestamp of Nst day to retrieve the data from redis, financial markets have some especific calendar. I my case I j

[2019-06-19 15:12] gacha commented on #133
From current documentation, I understand that you need at least one `k=v` matcher, but how can I get for example 2 or more sensor data if I don't have `area_id` or any other label, just `sensor_id`.  Why I cannot use just `sensor_id=(1,2)`? So, I think would be nice if the requirement would be at least one filter. Because the other option for me is to introduce `area_id` then add all sensors to it

[2019-06-21 19:43] banker opened #146 "Docker container has THP enabled"
When you run docker run -p 6379:6379 -it --rm redislabs/redistimeseries

The Redis server is showing this warning:

1:M 21 Jun 2019 18:42:12.791 # WARNING you have Transparent Huge Pages (THP) support enabled in your kernel. This will create latency and memory usage issues with Redis. To fix this issue run the command 'echo never > /sys/kernel/mm/transparent_hugepage/enabled' as root, and add it t

[2019-06-21 23:19] banker opened #148 "TS.CREATE should not return errors if the series already exists"
From a developer perspective, this is kind of a pain.

Suppose my application creates time series as needed. When the app starts up, it doesn't know if the time series already exists. As is, I need to be prepared to catch an exception if I call TS.CREATE a series that might already exist. This is awkward.

Preferred solution:

- Make TS.CREATE idempotent. If I create a series that already exists,

[2019-06-21 23:20] banker commented on #148
- Maybe only return an error if I attempt to create a time series with different settings from the one that already exists.

[2019-06-22 13:46] itamarhaber commented on #146
Hello @banker

No - this is a host setting, not a container's, refer to https://github.com/docker-library/redis/issues/55#issuecomment-214872432 (among others).

[2019-06-22 19:18] #146 closed

[2019-06-23 09:28] danni-m commented on #148
@banker you can just use `TS.ADD` and that will create the key for you, you can also pass the same arguments for creation,

[2019-06-23 16:22] banker commented on #148
@danni-m Thanks for the clarification. I'll create a pull request for the quick start in the docs so that it's clear that TS.CREATE isn't required.

I'd still like us to consider making TS.CREATE idempotent in cases where the series exists, and the arguments passed match the existing series.

[2019-06-23 21:28] danni-m opened #151 "Documentation should be versioned"
- Public website should show the latest release
- Allow users to browse through versions

[2019-06-24 08:09] #128 closed

[2019-06-24 08:11] gkorland commented on #94
https://github.com/RedisTimeSeries/RedisTimeSeries/pull/145

[2019-06-24 08:11] #94 closed

[2019-06-24 08:18] gkorland commented on #83
@swilly22

[2019-06-24 08:21] gkorland commented on #63
https://github.com/RedisTimeSeries/RedisTimeSeries/issues/75

[2019-06-24 08:21] #63 closed

[2019-06-24 08:58] gkorland opened #152 "Add support for different numeric types"
Numeric data type of tensor measurements, FLOAT, DOUBLE, INT8, INT16, INT32, INT64, INT128, UINT8, UINT16, UINT32, UINT64

e.g.

[code]

[2019-06-24 10:13] gkorland opened #153 "TS.MGET accepts flags that it should not"
TS.MGET 0 0 FILTER batch=1

It does nothing, but it should not be acceptable

[2019-06-24 11:19] K-Jo commented on #153
RED-29248

[2019-06-24 11:28] gkorland opened #154 "TS.MGET auto complete placeholders do not match the parameters required by the command"
The expected input to ts.mget is something similar to

TS.MGET FILTER id=76

but when you write TS.MGET the auto-complete place holder is like this

TS.MGET key ...options...

this should be changed to match what is neededfor example:

TS.MGET FILTER ...filter_string...

[2019-06-24 20:11] #154 closed

[2019-06-25 07:00] ashtul commented on #72
@OskarHandmark @gkorland
Until this is implemented, you could probably call TS.GET, then TS.ADD returnValue + Incrby.

[2019-06-26 08:06] ashtul commented on #72
Should we allow for “*”?

[2019-06-26 08:30] K-Jo commented on #72
@ashtul yes

[2019-06-27 08:25] ashtul commented on #76
Suggested commands

TS.CREATERULE sourceKey destKey AGGREGATION aggType timeBucket **[FROM timestamp]**

[2019-06-27 10:40] #105 closed

[2019-06-27 10:42] danni-m commented on #45
fixed in
https://github.com/RedisTimeSeries/RedisTimeSeries/pull/157

[2019-06-27 10:42] #45 closed

[2019-06-27 10:56] ashtul commented on #72
We should return timestamp instead of 'OK'.
It will also be consistent with ts.add

[2019-06-27 10:58] gkorland commented on #72
I think we should return a tuple, new value+timestamp

[2019-06-27 10:59] ashtul commented on #72
For both I guess

[2019-06-27 11:41] ashtul commented on #84
Suggest to change design of aggregation insertion from overwriting itself until next bucket start to writing only when bucket ends.

[2019-06-27 11:42] gkorland commented on #72
Yes, @danni-m @K-Jo ? We should also fix all the clients to support this break.

[2019-06-27 11:49] gkorland commented on #72
@danni-m  @K-Jo if we're adding '*' support why do we need the TIMESTAMP keyword?

Shouldn't we just for with this? (* is like the current API, isn't it?)
[code]

[2019-06-27 13:46] K-Jo commented on #72
Let's take this on Monday

[2019-07-01 11:57] #46 closed

[2019-07-02 10:20] gkorland commented on #141
[code]

[2019-07-02 12:33] K-Jo commented on #141
@gkorland why not on GET / MGET?

[2019-07-02 12:35] K-Jo commented on #153
```TS.RANGE bc:prices 1559340000000 1561845600000 "AGGREGATION max" 604800000```
Does not fail and does not do any aggregation
```TS.RANGE bc:prices 1559340000000 1561845600000 AGGREGATION max 604800000```

[2019-07-02 15:46] K-Jo commented on #153
[code]
 missing reset

[2019-07-02 19:58] gkorland commented on #153
@K-Jo  RESET is optional

[2019-07-02 20:02] gkorland commented on #141
@K-Jo we need both the issue is that having TS.RANGE without count is a risk to get too many results.
Once we add support for COUNT the user will be able to paginate the result

[2019-07-03 03:50] ashtul commented on #141
@gkorland , while true for range, for mrange the user might get different time ranges for any of the series and then iterating is impossible.

[2019-07-03 06:04] gkorland commented on #141
Right MRANGE seems a bit trickier, perhaps we need to extend MRANGE to get timestamp per key

[2019-07-03 07:12] ashtul commented on #141
On the other hand, users will probably use it with aggregation and therefore the number of results would be almost identical.
Simple parsing on client side will allow them to decide from which timestamp to start next iteration

[2019-07-03 07:12] ashtul commented on #141
PR #163

[2019-07-05 16:19] K-Jo commented on #153
@gkorland thanks, I know, that's why it should fail on the input of `20000`

[2019-07-09 16:42] vgoklani opened #165 "Real-time aggregates"
Hey there - thanks for creating this module!

Our use-case involves aggregating millisecond-level events into minute bar aggregates, continuously. Our system then polls these minute bar aggregates (throughout the current minute) to measure the progress of the bar for event detection.

The current implementation uses redis-hashes, where for a given timestamp, we set both the second and microsecond

[2019-07-10 02:18] #165 closed

[2019-07-10 03:44] vgoklani commented on #72
I would like to see this implemented too, thank you!

[2019-07-10 09:40] ashtul commented on #72
#160

[2019-07-10 14:17] vgoklani opened #166 "API confusion"
Hey there - thank for creating this module!

There were a few confusing aspects of the API:

1. Suppose I have multiple events with the same millisecond timestamp, how do I add *both* of them to a time series?

    127.0.0.1:6379> TS.ADD test 1554384485 42
    OK
    127.0.0.1:6379> TS.ADD test 1554384485 36
    OK

here the second event overwrites the first (?), which was not the expected behavio

[2019-07-10 15:11] K-Jo opened #167 "update docs to use "sample" not value"

[2019-07-23 12:43] K-Jo opened #169 "Double Delta Compression"

[2019-07-24 10:07] danni-m opened #170 "Remove clean_ramp script"
Ref https://github.com/RedisLabs/RAMP/commit/7d953efc26760188f23dc05178607638b786db44

[2019-07-24 17:19] trulede commented on #148
I would suggest to have TS.ALTER create the key if it does not exist, and remove the TS.CREATE command altogether.

Using this module for the first time today, I found the LABELS to be a bit confusing, in particular the explicit relationship to the "key". For me the LABELS option should be reversed (i.e. value field):

`TS.ALTER key [RETENTION retentionTime] [LABELS value field ..]
`
and perhaps e

[2019-07-24 17:28] trulede commented on #166
Hi,

I encountered this today, TS.ADD updating an existing value. Should it be a bug? Or enhancement ... to have more than one sample for any given timestamp - since that is something to expect quite often in distributed systems.

Perhaps, given what this system is likely doing, it might be better to have TS.ADD actually ADD the values? But then you might still need to know the number of samples f

[2019-07-29 16:52] lyrixx commented on #141
I have a similar requirements. I store some metrics in redis and when I want to display them, I want to get only X (60) data points. So I use  `AGGREGATION avg Y`. So I need to compute Y.
To do so, I need the very first (A) point and the last one (B). Then, I will be able to compute Y (`(B - A) / X`.
Or maybe there is another solution to achieve that?

Of course, I can use some data I store somewh

[2019-08-01 08:46] lyrixx commented on #153
It's the same for
[code]

`AGGREGRATION` instead of `AGGREGATION`.

It took me some time to find my typo :joy:

[2019-08-01 09:05] lyrixx opened #173 "Bucket aggregation appears not to be rolling over time"
Hello,

I noticed something a bit strange with bucket aggregation.

I have create a small reproducer in PHP. If you are not confortable with this language, I can translate it to another language.
[code]

So When I Execute it multiple time, It go the following results:

[code]
[code]
[code]
[code]
[code]
[code]

---

Is this intended ?

[2019-08-04 17:05] ng5 opened #174 "Possibility of aggregation timeBucket by real calendar (1W, 1M, 6M, 1Y etc)"
Thank you for this very useful addition to redis project. A very common use case in regression is to able be find monthly, weekly, yearly aggregations (by calendar).

Aggregation by milliseconds does not seem to be aware of calendar.  Is this feature being considered at the moment?

Regards

[2019-08-05 10:32] danni-m commented on #173
@lyrixx in your query you are asking for the last 4 seconds with the aggregation, your start time is changed everytime you run it.
Since we are aggregating by bucketing the time into 4 seconds buckets sometimes the end of your data might fall into 1 or more buckets (the shift depends on the start time).

What are you expecting the output would be?

[2019-08-05 11:57] lyrixx commented on #173
As the range is 4 seconds, and the aggregation time is also 4 seconds, I'm expecting to get only one value and not two

[2019-08-10 00:04] stergnator opened #175 "ld warning on OSX 10.14"
Running "make" in the src directory produces the following warning on OSX 10.14:

    ld: warning: No version-min specified on command line

The shared library is still created, but that warning msg bothered me.
I made the following change to the Makefile to eliminate the warning:

[code]

[2019-08-12 11:40] K-Jo opened #177 "Review all clients for STD"

[2019-08-12 13:18] #177 closed

[2019-08-14 07:59] gkorland opened #179 "AGGREGATION with COUNT returns wrong amount of results"
[code]
Returns only 2 results

[2019-08-16 22:57] andresrinivasan opened #184 "Log message is bring printed to stdout rather than logged"
[code]

The line `loaded default MAX_SAMPLE_PER_CHUNK policy: 360` appears to be coming from RedisTimeSeries.

[2019-08-17 17:42] ashtul commented on #184
@andresrinivasan Indeed it does. It is in config.c file. It is by design.
@danni-m @gkorland should we change this?

[2019-08-17 17:46] ashtul commented on #84
Resolved in #143

[2019-08-17 17:46] #84 closed

[2019-08-17 17:48] ashtul commented on #179
fixed with #180

[2019-08-17 18:14] ashtul commented on #141
@lyrixx you should create a rule that will save a sample every 60 ms, then you can query it in O(1) since the calculation was already done for you.
`TS.CREATERULE sourceKey destKey AGGREGATION avg 60`

[2019-08-18 07:06] danni-m commented on #184
@ashtul Lets transform this to a log line instead of printf.

[2019-08-18 09:07] #179 closed

[2019-08-18 09:39] #175 closed

[2019-08-18 09:39] danni-m commented on #175
fixed in #176

[2019-08-19 08:54] lyrixx commented on #141
Thanks @ashtul for your reply.

I think I didn't explain my use case well enough, because your reply does not solve my issue.
I don't want a data point each 60ms, but I always want 60 (or less) data points, whatever the period. I want that, because I display data as a chart, and it's useless to grab thousand of data points.

[2019-08-19 09:22] K-Jo opened #187 "Support for Median aggregate function"
https://github.com/RedisTimeSeries/RedisTimeSeries/issues/84 was closed for STD support.

[2019-08-19 11:07] #184 closed

[2019-08-19 11:21] ashtul commented on #141
@lyrixx Sorry but I got confused with the aggregation.
We've actually just merged a [COUNT count] flag for both TS.RANGE and TS.MRANGE so you can query the exact number of samples you need and then process them on your side,

[2019-08-19 11:50] ashtul commented on #187
Hopefully will be implemented using t-digest DS

[2019-08-20 10:57] rafie commented on #67
As we concluded it's not a link problem (but rather, most probably, memory alignment one), we're closing this.

[2019-08-20 10:57] #67 closed

[2019-08-20 13:33] lyrixx commented on #141
Nice :+1: It looks like it's in 1.0.2 release?
I will test this on Thursday.

[2019-08-22 16:23] danni-m commented on #166
@trulede @vgoklani
I think the confusion is caused by the differences between `ADD` and `INCRBY/DECRBY`.
ADD -  is used to save/append a single point (TS and Value) to a specific key (time series).
INCR/DECRBY - is used to manipulate the last sample and update it according to specific timebuckets.

We are aware that the current logic of `TS.ADD` for the last timestamp is confusing and we are consi

[2019-08-24 20:31] trulede commented on #166
Hi, yes, after a short while we came to the conclusion that this module is doing a very good job of solving a particular problem, at least in the initial version, and that our problem was something different.

The question/problem for us was how to store two (or more) values with the same timestamp ... where we don't want to immediately aggregate those values using INCRBY ... but rather wait and t

[2019-08-26 07:49] ashtul opened #194 "Redis crashes under stress of querying new TS with labels"
Creating multiple time series with label leads to random crashes.
Code can be found on branch Benchmark.
Run `make benchmark` in src directory to see.

[2019-08-26 14:36] gkorland opened #195 "TS.ADD with * throws error when running in Docker container on Mac OS"
Test
[code]
Error
[code]

[code]

[2019-08-26 14:48] ashtul commented on #195
According to [a Docker Engineering post](https://engineering.docker.com/2019/02/addressing-time-drift-in-docker-desktop-for-mac/), since docker is implemented on Mac OS as a VM, its kernel keeps its own clocks which might shift over time. The system then synchronizes the VM with the host which might cause _time travel_ into the past.
No fix is planned for this bug.

[2019-08-26 14:48] #195 closed

[2019-08-26 14:52] ashtul commented on #141
#163 and #180

[2019-08-26 14:52] #141 closed

[2019-08-26 14:56] ashtul commented on #153
This is part of a bigger project of parsing argv[]

[2019-08-26 20:05] trulede commented on #166
Hey,

the great thing about Redis Strings is that they can represent pretty much any datatype. So, when this module fixes to a particular type, that flexibility is lost. That's OK of-course, if you are using ints/longs ;-)  but for other things its a limitation. Not to worry, using Redis Strings is going to be less efficient and need more complex aggregators ... so its a matter for the module impl

[2019-08-27 11:50] ashtul commented on #194
Simple indentation error on benchmark file itself.

[2019-08-27 11:50] #194 closed

[2019-08-27 12:02] K-Jo opened #196 "Document recommended OS level requirements"
NTP
https://github.com/RedisTimeSeries/RedisTimeSeries/issues/195

[2019-08-31 04:27] cheekybastard opened #198 "Retention time bug/issue"
Hi,

The retention arg used with time series key creation (TS.CREATE) appears to be limited by max value for 32-bit integers, 2147483647. Thus the maximum retention period is approximately 24 days (in milliseconds) or, if using default, series is not trimmed at all. For finance/business data aggregations some common time spans for aggs are month, quarter & year, so 24 days is an issue for many fut

[2019-09-01 07:26] #198 closed

[2019-09-02 04:49] cheekybastard opened #201 "AGGREGATION timeBucket 32-bit integer limit"
Hi,

The timeBucket arg used when creating aggregation rules (TS.CREATERULE) appears to be limited by max value for 32-bit integers (2147483647), limiting aggregation time buckets to ~17days.

Using the python client, if createrule 'bucket_size_msec' arg is bumped over the 32-bit integer limit to 2147483648, the client info method shows 'createrule' silently fails (info method shows no rule create

[2019-09-02 13:54] K-Jo opened #202 "Update Prometheus Adapter to new RediSearch API"
https://github.com/RedisTimeSeries/prometheus-redistimeseries-adapter

[2019-09-03 15:27] danni-m opened #206 "Master version should be 99.99.99"

[2019-09-05 08:41] ashtul commented on #72
@vgoklani @OskarHandmark
This feature is now merged into master #160

[2019-09-05 08:41] #72 closed

[2019-09-05 08:51] ashtul commented on #173
@danni-m @gkorland
Should we keep on any series time of creation and normalize **`(curTime - initTime) % timeBucket`** to it instead of to simple modulus on retention?
I can see why @lyrixx expect what he expects.

[2019-09-06 02:58] #201 closed

[2019-09-06 05:00] cheekybastard opened #208 "Aggregation timeBuckets"
Hi,

For aggregations with timeBucket < 1day in milliseconds, respective agg output is correct, but when timeBucket is > 1 day, like 7 day  in milliseconds, aggregation output suggests timeBucket has a bug. Aggs returned are for the final day of the timeBucket, not the full range of the timeBucket value.

Info method for rules created shows the correct retention value for aggregation is been set,

[2019-09-08 07:26] ashtul commented on #208
@cheekybastard
First I want to thank you for taking the time to investigate this behavior.
The phenomenon you identify is inherited in any time-series and is a result of partial information for a given time window. If in your code you add `{'timestamp': 1567735651000, 'date': '2019-09-06 02:07:31', 'value': 32},` you will get:
[code]
The reason your code didn't identify it was - your samples fille

[2019-09-08 07:45] ashtul commented on #208
@cheekybastard
You have a tiny semantic error. Should be -
[code]
Please forgive my OCD tendencies :man_juggling:

[2019-09-08 16:21] danni-m commented on #208
@cheekybastard

If you mean here that you are expecting to see a time-series and not a single value?

[2019-09-09 10:47] danni-m commented on #173
@ashtul it will make the bucketing hard to predict for most use-case, also initTime as a reference can change over time and over different keys.
To keep all the keys in-sync and have a consistent way of bucketing we will use the time itself for bucketing (graphite and other dbs do the same thing).

[2019-09-09 10:50] danni-m commented on #166
Have you considered using Redis streams for this kind of use-case?

[2019-09-09 15:29] OskarHandmark commented on #72
I appreciate the effort you put in to make this work, and it will come to use. thank you.

[2019-09-10 09:15] cheekybastard commented on #208
@danni-m

Expecting single value, not series. No issue with aggregations with short timebuckets.

@ashtul

Thanks for the semantic error fix, I've missed that for 6+months in another project.

The sample data time span (8 days) is greater than the timebucket window (7days), the sample was specifically designed to avoid that issue, but be a readable size. Issue still appears if sample data time spa

[2019-09-10 13:12] #206 closed

[2019-09-16 16:32] pasalino opened #212 "Compile on RedHat"
When i compile on RedHat i have this exceptions:

Traceback (most recent call last):
  File "../deps/readies/bin/platform", line 20, in <module>
    platform = Platform()
  File "/home/sumame/RedisTimeSeries/deps/readies/paella/platform.py", line 25, in __init__
    Assert(False), "Cannot determine distribution"
NameError: name 'Assert' is not defined
Traceback (most recent call last):
  File "../

[2019-09-17 23:39] rafie commented on #212
Which RedHat version? (cat /etc/os-release and lsb_release -a can help).

[2019-09-18 07:32] pasalino commented on #212
In this moment i had to remove the line containing Assert in platform.py and now compile.

The Version is :

NAME="Red Hat Enterprise Linux Server"
VERSION="7.5 (Maipo)"
ID="rhel"
ID_LIKE="fedora"
VARIANT="Server"
VARIANT_ID="server"
VERSION_ID="7.5"
PRETTY_NAME="Red Hat Enterprise Linux Server 7.5 (Maipo)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:redhat:enterprise_linux:7.5:GA:server"
HOME_URL="https:/

[2019-09-18 09:27] nosqlgeek opened #213 "Document min and max placeholders for range commands"
The documentation doesn't mention that a range command is accepting `-` (minimum) and `+` (maximum) for the arguments 'fromTimestamp' and 'toTimestamp'.

The following change is proposed for all commands that are accepting a time range as an argument

[code]

[2019-09-18 10:53] gkorland commented on #213
@nosqlgeek feel free to submit a PR

[2019-09-18 16:56] #213 closed

[2019-09-20 14:08] vgoklani commented on #166
Hey @danni-m - are you planning to make API changes to address these issues? Or should we look for alternate solutions?

[2019-09-22 15:51] #212 closed

[2019-09-23 06:07] ashtul opened #217 "allow only negative idioms in RS query"

[2019-09-23 12:11] gkorland commented on #217
"negative" ? what about no idioms at all?

[2019-09-25 08:18] ashtul commented on #148
@danni-m right now TS.ALTER cannot create, only alter. I think it can be a good idea to follow @trulede  suggestion to allow it to create. We can still leave create as the cheaper and dedicated command for creation.

[2019-09-25 13:20] schaefer01 opened #218 "build of latest rev for macosx fails."
HI,
  I received an email yesterday (9/24) that the latest revision was out.
 I've got macosx 10.14.6
 at the step: make all, the following error was returned:
Linking ../bin/--release/redistimeseries.so...
Undefined symbols for architecture x86_64:
  "_intrev64", referenced from:
      _SeriesAddSample in tsdb.o
      _SeriesQuery in tsdb.o
  "_main", referenced from:
     implicit entry/start fo

[2019-09-25 18:00] rafie commented on #218
From the repo root, please run the following commands and repeat the build:
./deps/readies/bin/getpy2
./system-setup.py

[2019-09-25 18:58] schaefer01 commented on #218
Rafi,

I attempted  ./system-setup.py but you could have warned me about “brew”, I vowed to never use brew again after my last attempt
to update brew update destroyed my working python environment. I am not a fan of virtual python environments.

I had to run your setup twice, the first failure was a python paths problem and I needed to copy my python2.7 to where it was expected to be.

The setup a

[2019-09-26 08:04] rafie commented on #218
Hello Bob,
Sorry for the inconvenience in the setup process.
Setting up a stable build environment on arbitrary hosts is indeed a complicated task.
Thus, the system-setup.py file is provided both as a script and as documentation of the build system requirements.
Python 2.7 is a requirement as it is ubiquitous and provide enough automation power. We, however, do support Python 3.x as an alternative

[2019-09-26 11:43] K-Jo opened #220 "Retrieve the number of samples in a timeseries"
TS.RANGE, MRANGE
[code]
would allow you to count the number of samples in a series although O(n)

[2019-09-26 12:46] ashtul commented on #220
This is a great functionality but this isn't the right way to provide it.
A user can provide MAXUNSIGNEDLONGLONG to get the same way.
User are likely to send a negative number erroneously and we should notify them of it.

[2019-09-26 12:48] K-Jo commented on #220
Doesn't need to be the above command, hence the rename of the issue

[2019-09-26 12:50] ashtul commented on #220
Should be part of ts.info as you suggested

[2019-09-26 12:53] K-Jo commented on #220
[code]
as discussed with @ashtul
sorry for confusion on initial comment

[2019-10-02 00:31] edwarts opened #221 "urlib2 issue in make all"
When I try to build from src, I got this issue, please have a look at the error below:
Traceback (most recent call last):
  File "../../deps/readies/bin/platform", line 9, in <module>
    import paella
  File "/home/xxx/RedisTimeSeries/deps/readies/paella/__init__.py", line 4, in <module>
    from .files import *
  File "/home/xxx/RedisTimeSeries/deps/readies/paella/files.py", line 5, in <module>

[2019-10-02 09:52] rafie commented on #221
No need to install urllib2 (although it can prevent the error).
RedisTimeSeries uses Python2 for its build environment automation, so running 'make setup' will put everything in order. Do note that this will install various packages on your system, so you are advised to review system-setup.py in advance for possible consequences.
PR #222 fixes the automation infrastructure for Python2/3 usage of u

[2019-10-03 00:02] edwarts commented on #221
Many thanks! It is really helpful and works!

[2019-10-03 00:02] #221 closed

[2019-10-08 09:25] peet83 opened #223 "Is there an option to fill irregular time series."
Hi,

My data stream comes in irregular time frames.  Like

1570525959 20
1570525960 21
1570525965 22
1570525968 23

Is there any way to fill the missing seconds in the above dataset, What Im expecting is

1570525959 20
1570525960 21
1570525961 21
1570525962 21
1570525963 21
1570525964 21
1570525965 22
1570525966 22
1570525967 22
1570525968 23
1570525969 23

Thank you,

[2019-10-10 07:03] ashtul commented on #223
@peet83 this sort of data manipulation should be done on the client side.

[2019-10-10 08:50] ashtul commented on #223
@peet83
I hope my reply answered your question.
Many analytics systems will do it for you by either smoothing the existing results or treating them as columns.
You will be wasting memory space on data that you can produce on the fly.

[2019-10-10 09:36] peet83 commented on #223
ok , got it thank you

[2019-10-10 09:36] #223 closed

[2019-10-10 10:50] ashtul commented on #223
@peet83
Thank you for the feedback. We will consider adding a flag on TS.RANGE that will take care of this. As for now, unfortunately, it isn't supported.

[2019-10-14 06:49] peet83 opened #225 "Is there any limit of maximum data points in a single key"
Hi,

Is there any data point limitation in timeseries key. Im planning to keep 7 days of seconds data points in a single key, ie  604800 data points and values in a single key.

Please let me know if that is the efficient way to store data in time series and any performance issues.

Thank you,
Peter

[2019-10-14 19:59] gkorland commented on #225
There shouldn't be any issue with that.
The time is represented by a 64bit and is planned to hold milliseconds

[2019-10-17 09:46] VeerPV opened #226 "Redis server is crashing upon loading RedisTimeSeries module in ARM 32 v7"
Hi,
I'm trying to cross compile RedisTimeSeries to ARM. It's getting failed. But on the host machine (Ubuntu 16 having gcc version 5.40) successfully compiles.

My cross GCC version is 5.3.0. Is it causing issue?. What should be the compiler version to compile this library?.

my target is arm32 v7

Here is the log:

GNU C99 (GCC) version 5.3.0 (arm-phytec-linux-gnueabi)
	compiled by GNU C version

[2019-10-17 13:43] rafie commented on #226
Could you please try to reproduce this with a Docker image? Thanks.

[2019-10-17 14:00] hello-error opened #227 "Documentation terms"
Hello, in documentation about default compaction policies https://oss.redislabs.com/redistimeseries/configuration/
The language/explanation is very confusing and misleading.
'''
Each rule is separated by a semicolon (;), the rule consists of several fields that are separated by a colon (:): aggregation function - avg, sum, min, max, count, first, last time bucket - number and the time representati

[2019-10-18 11:29] VeerPV commented on #226
Hi rafie,
I'm doing native compilation now. It's compiled. But when I load the module. redis-server is crashing with segmentation fault. Here is the log:

=== REDIS BUG REPORT START: Cut & paste starting from here ===
515:M 17 Oct 14:04:47.371 # Redis 4.0.8 crashed by signal: 11
515:M 17 Oct 14:04:47.374 # Accessing address: (nil)
515:M 17 Oct 14:04:47.376 # Failed assertion: <no assertion failed>

[2019-10-18 12:01] VeerPV commented on #226
Do I need to change some options in existing make file when I'm doing native compilation on the ARM board?.
I also tried modifying make file

Also redis-server version is 4.0.8, is it fine for RedisTimeSeries?

[2019-10-19 06:53] ashtul commented on #227
@hello-error thanks for your feedback. You are correct! #228

[2019-10-19 07:12] hello-error commented on #227
Slight change: if the timestamp supplied in metrics is in unix milliseonds resolution, default compactions are correct. If the unix timestamp is in seconds, that is when default compaction rules are not as expected. In the latter scenario, creating a rule manually requires seconds level aggregation again. Bottom line, I understand, timestamps for metrics must be in milliseconds level unix time. Th

[2019-10-19 07:12] #227 closed

[2019-10-19 08:04] ashtul opened #229 "Configurable time granularity (sec, msec, ... tbd) per timeseries"
#227 #94

[2019-10-21 08:25] VeerPV commented on #226
I was Trying on redis 4.08. Hence the crash. On redis-stable 5.05. This module is getting loaded and working as expected.
It will be helpful if you mention supporting verisions of redis server for this module to be loaded.

[2019-10-21 12:55] #226 closed

[2019-10-21 16:05] llerrito opened #231 "There is any Keyspace Notifications for RedisTimeSeries"

[2019-10-22 07:45] ashtul opened #232 "Add memory usage to TS.INFO"

[2019-10-22 07:47] ashtul opened #233 "Fix 'MEMORY USAGE' value"
The current value is incorrect

[2019-10-22 11:41] K-Jo opened #234 "Enhance TS.INFO"
- [ ] number of samples #220
- [ ] last timestamp
- [ ] first timestamp

[2019-10-22 11:41] K-Jo commented on #220
moved to #234

[2019-10-22 11:41] #220 closed

[2019-10-22 11:58] gkorland commented on #231
Pending https://github.com/antirez/redis/pull/6481

[2019-10-23 17:19] peet83 opened #235 "Support for aggregations over multiple keys"
Hai again,

Is there any way to do aggregation on data points which is spreaded over multiple keys. Taking from the example, 127.0.0.1:6379> TS.MRANGE 1548149180000 1548149210000 AGGREGATION avg 5000 FILTER area_id=32 sensor_id!=1
1) 1) "temperature:2:32"
   2) 1) 1) "sensor_id"
         2) "2"
      2) 1) "area_id"
         2) "32"
   3) 1) 1) (integer) 1548149180000
         2) "27.6000000000000

[2019-10-28 13:00] filipecosta90 commented on #187
@ashtul I think we should revise:
- t-digest
- hdrhistogram
- DDSketch

They have different intricacies

[2019-11-10 20:44] K-Jo opened #238 "Fluentd output integration"
https://www.fluentd.org/plugins/all#input-output

[2019-11-13 06:30] WXY3 opened #240 "Compilation Error in CentOS7"
![image](https://user-images.githubusercontent.com/34730095/68738797-30774900-0622-11ea-82f1-2d9fd2325ba9.png)

[2019-11-13 08:12] rafie commented on #240
It seems like files under deps/readies/bin lack execution permission.
Can you please describe your work environment (e.g., any network file system?) and how do you actually get RedisTimeSeries repo into your system.
If you have no luck of setting up your machine properly, you can build using Docker and copying the results back into your machine.

[2019-11-13 08:23] WXY3 commented on #240
@rafie I compiled it with the following method
https://oss.redislabs.com/redistimeseries/

![image](https://user-images.githubusercontent.com/34730095/68745605-edbd6d00-0631-11ea-8c53-092e963fa9d0.png)

[2019-11-13 09:40] WXY3 commented on #240
@rafie Can you trying on CentOS7 ，I want to use RedisTimeSeries in production environment.

[2019-11-13 13:43] rafie commented on #240
Please use build instructions from https://github.com/RedisTimeSeries/RedisTimeSeries. We will update the docs.

[2019-11-14 02:34] WXY3 commented on #240
@rafie Can you trying on CentOS7 ,I tried a lot of methods but didn't succeed at one time，including your method（use build instructions from https://github.com/RedisTimeSeries/RedisTimeSeries）.

[2019-11-14 08:45] rafie commented on #240
I have no problem building on CentOS 7, both native and Docker.
Can you please send the session output after applying the build instructions?

[2019-11-19 09:57] #218 closed

[2019-11-19 21:27] danni-m commented on #234
fixed in #230

[2019-11-19 21:27] #234 closed

[2019-11-19 21:27] #232 closed

[2019-11-19 21:28] #233 closed

[2019-11-20 02:36] #240 closed

[2019-11-20 11:31] peet83 commented on #235
Thank you for looking into this and your efforts are really appreciated.

Peter

[2019-11-25 12:12] filipecosta90 commented on #75
We will need @danni-m, @yaeltzirulnikov  or @itamarhaber to review this to push this forward:
https://github.com/RedisTimeSeries/tsbs/pull/9

[2019-11-27 19:17] filipecosta90 opened #251 "Time complexity of each API command"
going through the documentation I find some commands with time complexity info and others without.

[2019-11-28 04:59] ng5 opened #252 "RETENTION field overflow int32"
Docker Image Version:
redislabs/redismod           latest              c9ffc8f9b58a        7 days ago          444MB

Issue:

We have daily samples for 5 years. we wanted to keep only 5 years data therefore i tried to add retention period of 5 years (in milliseconds), but looks like it is causing 32 bit integer to overflow.

Can this field be set to int64_t please. Thanks

`
127.0.0.1:6379> FLUSHA

[2019-11-28 05:08] ng5 opened #253 "TS.MADD - Redis maxmemory (noeviction) not recognized"
TS.ADD command keeps on adding data regardless of maxmemory (& noeviction policy).
This is not a major issue for us, raising it here so that it can be useful for someone else. I understand module use low level redis API therefore able to bypass Redis settings.  Not sure if these sort of things are supposed to be handled by Redis Module API.

I was expecting module will honour basic Redis settings

[2019-11-29 20:00] gkorland opened #254 "Add support for TS.REVRANGE and TS.MREVRANGE"
This command is exactly like `TS.RANGE` and `TS.MRANGE`, but with the notable difference of returning the entries in reverse order, and also taking the start-end range in reverse order:

[2019-11-29 20:01] gkorland opened #255 "Add support for TS.ADD RetentionCount"

[2019-11-29 20:02] gkorland commented on #252
@ng5 thanks for reporting it seems like it should have been unsigned 64bit

[2019-11-29 20:05] gkorland commented on #253
@ng5 thanks for reporting, it's very strange, we'll have to check it. Indeed modules are using low level API can override the memory policy, but we make sure to keep and TS.ADD is also keeping it see: https://github.com/RedisTimeSeries/RedisTimeSeries/blob/96cc3386633019646219b852a2945ca3406f0f05/src/module.c#L1049.

[2019-11-29 20:06] gkorland commented on #253
@ng5 which version are you using?

[2019-11-29 20:14] ng5 commented on #253
Docker Image Version:
redislabs/redismod latest c9ffc8f9b58a 7 days ago 444MB

Please check TS.MADD command instead of TS.ADD. i've updated the title.

[2019-11-29 20:27] gkorland commented on #253
It also seems OK https://github.com/RedisTimeSeries/RedisTimeSeries/blob/96cc3386633019646219b852a2945ca3406f0f05/src/module.c#L1057

But we'll double check it ...

[2019-11-30 07:52] ng5 commented on #253
My apologies, I can no longer reproduce this bug therefore closing it now. I'm pretty sure i saw memory going past maxmemory but not able to narrow down exact scenario that lead to it.

[2019-11-30 07:52] #253 closed

[2019-11-30 08:59] ashtul commented on #253
@ng5 It was fixed in PR #211

[2019-12-01 06:54] ashtul commented on #255
Wouldn't AGGREGATION COUNT do this?

[2019-12-01 10:20] ashtul commented on #252
@ng5 Can you please try to reproduce this bug?
This was fixed in PRs #199 #200

[2019-12-01 10:28] ashtul commented on #252
I have just confirm using `docker run -p 6379:6379 -it --rm redislabs/redistimeseries:edge`
[code]

[2019-12-01 10:38] ng5 commented on #252
I was using latest version of below image, which bundle full text search module. Thanks for checking out, I confirm fix  is now also available on below image:

***redislabs/redismod***

[2019-12-01 10:52] ashtul commented on #252
@ng5
Thank you for confirming this.
Can we close the issue then?

[2019-12-01 11:00] ng5 commented on #252
Done. Thank you.

[2019-12-01 11:00] #252 closed

[2019-12-01 12:23] gkorland commented on #255
No, we're talking about retention.

[2019-12-02 14:04] filipecosta90 opened #258 "Return value of each RedisTimeSeries API command"
going through the documentation I find it hard not to have the Return value and description of each command.  We should have the same look and feel across modules.
Example of module with the reply info on their documentation:
https://oss.redislabs.com/redisearch/Commands.html#returns

[2019-12-04 16:41] danni-m commented on #258
@filipecosta90 @gkorland @itamarhaber  is there any tool that we can use to generate this from code?

[2019-12-04 16:42] danni-m commented on #255
With compressed chunks we would need to configure a byte size parameter and not samples count.

[2019-12-05 12:35] ashtul commented on #166
@vgoklani Can you please summarize what you would like to see in future versions.

[2019-12-05 15:49] streamtv85 opened #262 "TS.RANGE returns inaccurate values"
Hi,
I spotted some inconsistencies when writing and reading float values to/from redistimeseries database with python.
Here is an example of code showing the problem:

[code]

So, I see two problems here:
1. TS.RANGE returns inaccurate numbers (looks like a rounding error)
2. TS.RANGE returns string values (thus requiring additional conversion) while TS.GET returns float value

Versions:

python l

[2019-12-06 02:10] gkorland commented on #262
It seems like an issue on the python client

[2019-12-06 05:01] wiwat-tharateeraparb opened #263 "RETENTION does not actually remove old data point"
Current time-series
[code]
Alter `RETENTION` to 10,000 ms.
[code]
Query again seems OK. Older time-series are not included in the result.
[code]
Then, change `RETENTION` to 0
[code]
Query again
[code]

Is there anyway to actually remove/truncate older data point forever?

[2019-12-06 05:32] wiwat-tharateeraparb opened #264 "Support for TS.DEL to remove specific entries from series"
Similar to https://redis.io/commands/xdel

[2019-12-06 10:24] ashtul commented on #263
@wiwat-tharateeraparb
Thank you for opening the issue.
This behavior you describe is expected.
Samples are not being retired individually after their retention has passed, rather they are being filtered by the query function. Only when an entire chunk of memory has retired, the whole chunk is being disposed of.
The default size for a chunk is 256 samples and therefore, only after the last sample h

[2019-12-06 10:29] ashtul commented on #262
@gkorland same behavior on redis-cli
[code]

[2019-12-06 13:57] wiwat-tharateeraparb commented on #263
How can I configure for chunk size? Is it possible to configure for individual key?

[2019-12-08 11:43] gkorland commented on #264
@wiwat-tharateeraparb thanks for your feedback, can you please describe the scenario that requires this feature?

[2019-12-08 12:57] ashtul commented on #263
@wiwat-tharateeraparb TS.CREATE has [CHUNK_SIZE integer] option which can be used to change the default of 256 samples per chunk.
Please note, this feature isn't official and its behavior may change when we start storing compressed data. You would likely still be able to use the flag with an uncompressed chunk.

[2019-12-09 12:22] wiwat-tharateeraparb commented on #264
We need `TS.DEL` in order to:
* Comply with some user privacy policies
* Remove erroneous data points
* Be able to remove old data points without relying on `RETENTION`

[2019-12-09 17:42] filipecosta90 commented on #254
@gkorland @K-Jo as for your tsbs requirements request:
tsbs q15 `groupby-orderby-limit`:

could make usage of this.

[2019-12-10 12:36] gkorland opened #267 "TS.MRANGE add NOLABELS to reduce returned answer"

[2019-12-11 10:06] filipecosta90 commented on #254
@gkorland @K-Jo for q15 and example of the real query would be:
[code]

[2019-12-12 14:28] filipecosta90 commented on #254
@gkorland @K-Jo will implement this on an experimental branch

[2019-12-12 14:37] filipecosta90 opened #275 "RANGE with value filtering"
Returns all the elements in the series with a value between min and max. Exclusive intervals and infinity.
min and max can be -inf and +inf ( or a symbol that represents it ), so that you are not required to know the highest or lowest value in the time series to get all elements from or up to a certain limit.

By default, the interval specified by min and max is closed (inclusive). It is possible

[2019-12-16 09:47] filipecosta90 commented on #267
@gkorland regarding the return value, and in order to keep compatibility on all clients we should return an empty list in the position of the labels array. Do you agree?
## example of command with the default option
[code]
[code]

## example of command with the NOLABELS option
[code]
[code]

[2019-12-16 10:42] gkorland commented on #267
Agree

[2019-12-19 13:58] #173 closed

[2019-12-19 14:00] ashtul commented on #262
@gkorland
The above fix didn't change the behavior. We still return a float with inaccuracies. I don't see a possible fix.
Should we close?

[2019-12-20 06:08] ashtul opened #278 "Run all tests on both compressed and uncompressed chunks"

[2019-12-23 08:34] ashtul opened #279 "Compression algorithm fails moving to and from 64 bits"
When running the following test incorrect timestamps received

[code]

[2019-12-24 08:53] #279 closed

[2019-12-24 11:03] chtt66 opened #284 "about Rax"
hi，the document indicates that the redistimeseries uses the rax data structure that is same as stream. What is the function of this structure (range query based on timestamp?) Which file is reflected in the source code?

[2019-12-24 11:08] danni-m commented on #284
Hi @chtt66,
Thanks for being interested in our project.

The best place for this type of conversations would be our mailing list at https://groups.google.com/forum/#!forum/redistimeseries, the issues sections are oriented around bugs and features.

To answer your question, it is used for finding out which chunks contained in a specific time range.
You can see in `tsdb.c` where its being used as th

[2019-12-24 11:08] danni-m commented on #284
Im closing this as it is not a bug, @chtt66 you are welcome to comment and continue the discussion.

[2019-12-24 11:08] #284 closed

[2019-12-24 11:16] chtt66 commented on #284
Thanks for answering

[2019-12-26 10:05] srmarjani opened #286 "implement union(OR) and intersection(AND) and Combination of them on labels"
Hi.
First I add below metric to redistimeseries
[code]
How can I execute filtering like below
[code]

[2019-12-26 10:22] gkorland commented on #286
We plan to extend the query language to support full text search and much more than that.
see: https://github.com/RedisTimeSeries/RedisTimeSeries/pull/186

[2019-12-31 10:33] #267 closed

[2020-01-03 03:10] #263 closed

[2020-01-05 12:13] averias opened #294 "Redis server crashed after building and loading redistimeseries module"
OS= Ubuntu 18.04 x64
Redis server version = 4.0.11

I followed the steps indicated in https://oss.redislabs.com/redistimeseries/#build-and-run-it-yourself and after generating `redistimeseries.so` and adding it as module, redis-server crashed when it is restarted. Looking at the redis server logs I got:

10138:C 05 Jan 11:35:25.138 # oO0OoO0OoO0Oo Redis is starting oO0OoO0OoO0Oo
10138:C 05 Jan 11:

[2020-01-05 12:43] ashtul commented on #294
@averias It could be the fact you are using Redis 4.0

ping @rafie

[2020-01-07 05:14] harishkumarr95 opened #295 "Add does not update the key and value for a same timestamp"
For my requirement, I was using Redistimeseries module and I have been getting this error saying that

`TSDB: Timestamp cannot be older than the latest timestamp in the time series`

I want to update the Values in the key for the same timestamp by using the command

`TS.ADD`

I hope this is an issue as the value should be updated for the same timestamp and not throw an error.

[2020-01-10 10:15] filipecosta90 opened #298 "percentiles over values on time-series"
Open discussion as per request of @gkorland @K-Jo and @ashtul
# requirements:
[ ] garanteed accuracy
[ ] ranged/arbitrary boundaries
[ ] constant insert times
[ ] memory efficiency
[ ] merge ability for multi-series aggregation and multi timeframe aggregations

# base options

- t-digest
-  hdrhistogram
- DDSketch

They have different intricacies

[2020-01-12 12:46] ashtul opened #299 "Aggregation adds aggregated value with timestamp = 0 to previous time bucket"
[code]
Should have been
[code]

[2020-01-13 08:37] ashtul commented on #148
@K-Jo shell we close this and possibly add another issue to have ts.alter create?

[2020-01-14 00:40] KevinBrogan opened #303 "Time series denial of service attack on unvalidated or accidental time stamps"
If you add a timestamp that is the maximum timestamp value to the key, then no more timestamps will be able to be added to the key. There is no way to delete bad data other than a range lookup and a manual reconstruction of the key with the old data.

RedisTimeSeries workshop.  Type redis-cli to enter the Redis CLI.

redisu$ redis-cli
127.0.0.1:6379> ts.add test 9999999999999999999999 1
(error) TS

[2020-01-16 02:14] wiwat-tharateeraparb opened #304 "Background saving fails when using 1.2-rc1"
This happens when running Redis-5.0.7+RedisTimeseries-1.2.0-rc1 for about 30 minutes and never recover. Log:

[code]

It does not happen in 1.0.3.

[2020-01-19 02:30] filipecosta90 opened #306 "1.2.0 OSS crash on Compressed_ReadNext within TS.MRANGE"
# tsbs steps
## Install tsbs:
[code]

## generate dataset, load data and issue queries
[code]

----------------------------------------
The test focus on MRANGE queries like the following:

[code]

crash rep
[code]

[2020-01-19 07:25] K-Jo commented on #167
92bca505a689742eb8ecaa6a0957323d753e2a0a

[2020-01-19 07:25] #167 closed

[2020-01-19 11:00] filipecosta90 commented on #304
@ashtul happened to me as well while saving and rdb:
[code]

[code]

[2020-01-19 11:07] filipecosta90 commented on #304
@ashtul this is related to #306 :
re-loaded the data and re-issued `save` and this time we got the exact same stack trace as the #306 :

[code]

[2020-01-19 16:50] itamarhaber commented on #304
Related? https://stackoverflow.com/questions/59805009/redis-bgsave-assertion-failed-terminated-by-signal-6-macos-python

[2020-01-19 17:02] ashreid23 commented on #304
Yes, that was my question and does seem to be the same issue

[2020-01-20 08:45] ashtul opened #309 "Iterator should initialize to the first appropriate sample"
This will simplify iteration with `getNext()` and improve performance.
Also, will allow better fix for #304 and #306

[2020-01-21 14:42] #304 closed

[2020-01-21 14:42] #306 closed

[2020-01-21 14:52] #299 closed

[2020-01-21 15:43] filipecosta90 opened #314 "inconsistencies across returned value on empty time-series between TS.GET and TS.RANGE"
[code]
## incorrect behavior on TS.GET
[code]
## correct behavior on TS.RANGE
[code]

[2020-01-21 16:21] filipecosta90 opened #315 "inconsistencies across returned value on time-series between TS.MGET and TS.MRANGE"
Nothwistanding the `WITHLABELS` behaviour, please denote positions 3 and 4 of the reply of mget, and position 3 of the reply of mrange. We are returning the point of the time-serie in `MGET` in the incorrect manner which breaks the clients and creates inconsistencies. Position 3 of the `TS.MGET` reply should an array, which will also contain an array of 1 point to be consistent with mrange reply.

[2020-01-21 16:23] filipecosta90 opened #316 "support for optional arg `WITHLABELS` on `TS.MGET` command"
to be consistent with `MRANGE`
this does not break any client since the change is to reply an empty position

[2020-01-23 16:59] atwoz commented on #303
I think the design behind RTS and the way the chunk works is what creates that contraint, which I think is ok because I believe it speeds things up and allows for the delta compression which is desired. A possible solution that could even be a configuration is to prevent timestamps with dates in the future to be added which in many uses cases won't ever happen.

When I say future I don't mean 1 se

[2020-01-24 09:26] #314 closed

[2020-01-24 10:16] #315 closed

[2020-01-24 10:16] #316 closed

[2020-01-26 12:23] gkorland opened #325 "Add Timeout/blocking operation support for TS.GET"

[2020-01-27 12:41] averias opened #329 "Is WITHLABELS flag not working in last release 1.2.1?"
As per documentation:
`WITHLABELS - Include in the reply the label-value pairs that represent metadata labels of the time-series. If this argument is not set, by default, an empty Array will be replied on the labels array position.`

But TS.MRANGE and TS.MGET returns a labels array, not empty, when WITHLABELS flag is not provided (default behavior).

Example:
127.0.0.1:6379[14]> TS.ADD temperature

[2020-01-27 13:00] ashtul commented on #329
@averias
It looks like you are not running the latest version. The return array for meet had changed a bit as well.

[2020-01-27 13:11] averias commented on #329
you're right @ashtul, sorry my bad, I thought that latest docker image matched version 1.2.1

[2020-01-27 13:11] #329 closed

[2020-01-29 17:57] lyrixx opened #331 "[RFC/Feature] Add support for TS.RANGE + COUNT + Aggregation"
Hello.

I udpated my redis to use the 1.2.2

I tried something and I can not make it work.

I would be nice to be able to write te following command:

[code]

You can notice I omit the timeBucket parameter.

To say it differently:

And of course, I don't want the first 4 points, I want only 4 points on the whole interval

[2020-01-29 18:11] ashtul commented on #331
Hello @lyrixx ,
This is the expected behavior.
You could get your results but passing a `timeBucket` argument of `(1580320148753 - 0) / 4`.
You can even get the first/last sample from TS.INFO and use them with the above calculation.

[2020-01-30 07:36] lyrixx commented on #331
Thanks for your fast reply.

I noticed the fist / last sampled is now exposed. This is very cool. This is what I will do if you decide to not implement this idea.

Thanks anyway 👍

[2020-01-30 10:30] lyrixx opened #332 "[Bug] Timestamp in visualisation (redis insight) seems wrong"
Hello.

I added few data point with redis cli:
[code]

Then I open redis insight and the X axis seems broken

![image](https://user-images.githubusercontent.com/408368/73441705-b23e5f00-4353-11ea-8c6b-b23124977139.png)

As you can see, all date are wrong.

I'm not sure this should be reported here or somewhere else. If I'm wrong, I'm sorry. Fell free to move the issue to the right repo.

Thanks

[2020-01-31 11:37] lyrixx opened #333 "[Bug] Adding data to a timeseries fails on high concurrency"
Hello

I get often the following error:
[code]

I use the following command:
[code]

It occurs when call frequency is too high
I'm using a golang worker, and I use goroutine (concurrency).

I managed to create a very simple reproducer:

[code]

You should notice the trailing `&` to run many redis command at the "same time", or at least as close as possible.

---

I don't really understand why I hi

[2020-02-02 10:50] gkorland commented on #333
RedisTimeSeries time resolution is in milliseconds, while on the other hand timestamp must be unique. Therefor one event per millisecond is allowed for each timeseries, which means that in case you use `*` two parallel events might get the same timestamp and the second will be rejected.

[2020-02-02 12:32] #331 closed

[2020-02-02 13:42] lyrixx commented on #333
In my application, I added a retry mechanism. This is not perfect, but it does the job.

Who could we fix this issue?

[2020-02-02 15:54] ashtul commented on #294
This was caused by a bug that was fixed in PR #310

[2020-02-02 15:54] #294 closed

[2020-02-03 09:56] gkorland opened #337 "RDB store/load compressed data"
Store data to disk in in compressed mode

[2020-02-03 12:11] K-Jo commented on #337
@gkorland Can we discuss the pros and cons on this?
@danni-m can you chime in?

[2020-02-03 13:01] filipecosta90 commented on #169
solved on 1.2

[2020-02-03 13:01] #169 closed

[2020-02-04 09:42] danni-m commented on #337
lets look at the current serialization:
Cons:
- takes more space
- takes more time to load and dump
Pros:
- Forward and backward compatible
- RDB is detached from compression algorithm, this means that we don't need to worry about backwards compatibility in the compression.

with compressed RDB:
Cons:
- we need to make sure the algorithm is backwards compatible for future versions
Pros:
- RDB size

[2020-02-04 15:29] gkorland commented on #337
I think that especially if we want to support RoF we must make sure that load/store is fast and that the data on disk is not 20 times bigger than in memory

[2020-02-04 15:30] gkorland commented on #337
As for backward, I think it's manageable with the right tests and RDB versions

[2020-02-04 15:39] K-Jo commented on #332
@lyrixx we'll try to push out a new version of RedisInsight this week (1.2.1) which will contain the fix.  Will keep this ticket updated

[2020-02-04 16:36] lyrixx commented on #332
@K-Jo Thanks :yellow_heart:

[2020-02-04 22:43] filipecosta90 commented on #41
@gkorland @danni-m is this still relevant ?

[2020-02-05 08:53] danni-m commented on #303
This is a known limitation in the way that RedisTimeSeries is implemented. In the future we might consider to have the possibility of changing the history of a timeseries which will make it possible to avoid this problem.

[2020-02-05 09:33] ashtul commented on #337
I have conducted a simplistic test of saving and reloading about 200MB in both RedisBloom which loads raw data and RedisTimeSeries which currently processes the data.
Bloom was about **28 times faster** (0.3 vs 8.4 seconds).
While TimeSeries will take longers as it pushes the chunks into the dictionary so we can't expect to reach that speed, It will be within the same range.

[2020-02-05 09:51] ashtul commented on #337
Checked a few more settings -
The previous results (8.4 s) were for compressed floats.
Uncompressed floats took 2.8 s. (x9)
Compressed integers took about 30 s or 100 times longer than bloom.

[2020-02-06 15:52] averias opened #341 "TS.MRANGE changes response in each release"
I have a use case in my tests which basically make an MRANGE on a key which has no data for the timestamp range specified, so basically I first created and add data with a timestamp in the last year 2019 on that time-series key and then I made a TS.RANGE with a timestamp range y the last 10 milliseconds, so data should be not found. I found different values in the response of TS-MRANGE depending o

[2020-02-10 10:32] wenq1 commented on #303
This solves (at least partially) #166 #295 #139

Neither ADD nor INCRBY at the moment allows for modification of history data, which is useful in circumstances when invalid historical values should be revoked

[2020-02-13 14:25] wenq1 opened #347 "Modify previous value"
Is it possible to modify the value of a given timestamp existing previously?

Use case is as follows: each time a failure event is triggered, we use TS.ADD 1 to mark, hence the data sequence is something like:

1581603670000:  1
1581603671000:  1
1581603672000:  1

And we calculate in real-time how many failures are there in the past 1 minute. In the above case, in the past 1 minute, the failure c

[2020-02-13 18:49] gmonk opened #348 "Question Only"
Greetings,

I'm trying to see if RedisTimeSeries would be a good option for the TS data that I am currently working with. The Current data is being stored in MSSQL which does not seem efficient since it is clearly time series data .  But it does not seem like the typical time series data as there are multiple events that can happen per timestamp that need to be logged.  The data is logged every 10

[2020-02-13 19:19] gkorland commented on #348
It seems like breaking each column to a different series might be the right solution in your case.
[code]
Should be:

[code]

[2020-02-13 19:28] gkorland commented on #347
RedisTimeSeries doesn't support past events modification, but perhaps you can add another event that will represent an failure has gone.
e.g.

 1581603674000: -1

[2020-02-14 05:26] gmonk commented on #348
Thanks for the info. I will give it a try

[2020-02-16 00:23] birdayz opened #349 "TimeBucket in specific timezone"
It seems that time bucket seems to always work with UTC. I'm using the following query:
[code]

i.e. 86400000 = 1 day

the bucket starts at midnight UTC. however i need this to be in a different timezone, ie a bucket should span midnight - midnight in a specific timezone, i.e. Europe/Berlin. If it uses UTC like redis does right now, the bucket layout is incorrect in some use cases.

is there some

[2020-02-16 08:23] danni-m commented on #349
@birdayz there's no way around this right now, one thing you can do is to insert you data already "timezoned".

[2020-02-16 12:57] birdayz commented on #349
thanks for the prompt reply. i wonder, is this somehow known as a relevant problem / on the roadmap ?

i suppose for many use cases, e.g. monitoring, it's not important.

To explain the details:

i'm working with IoT Telemetry data, and for many use cases it's critical that we are not "sloppy" and have the wrong buckets for a given zone. also, the bucket would not be globally the same - it might b

[2020-02-16 14:40] danni-m commented on #349
There's a similar ticket (https://github.com/RedisTimeSeries/RedisTimeSeries/issues/174) that asks for real calendar time buckets.

[2020-02-17 06:18] ashtul commented on #152
@gkorland
Is this still relevant?

[2020-02-17 06:30] ashtul commented on #262
@streamtv85
Floats behave this way and it is to be expected.
You have two options -
1. if you know your precision point, make it into an integer by multiplication before sending and divide once you get the number back. Ex. 1.2 -> 12 -> 1.2. 3.98 -> 398 -> 3.98.
2. use a system function to round the number. In Python use round(value, precision). In C you can read [here](https://stackoverflow.com/qu

[2020-02-17 06:30] #262 closed

[2020-02-17 07:58] gkorland commented on #152
@ashtul sure

[2020-02-17 13:20] ashtul opened #352 "if globalConfig collide with existing series, module crashes"
[code]

[2020-02-20 10:22] #352 closed

[2020-02-20 10:25] ashtul commented on #341
@averias
Thank you for the feedback.
This was corrected and will be avoided as much as possible in the future.

[2020-02-20 10:41] ashtul commented on #333
Hi @lyrixx,
You write that you have a retry mechanism. So if I understand correctly it means the time stamp isn't as crucial, and if a sample will be assigned the following timestamp it will be sufficient for your use case?

For example - if two samples arrive together, the first assigned `timestamp` and inserted, then the next one happened to receive the same `timestamp`. The current behavior is

[2020-02-21 11:13] lyrixx commented on #333
Sure, this is not an issue at all (for my usecase)

Yes, I'm a bit afraid of that.
but for now, I'm writing about 200 data point per second (1 data point per AMQP message).
So it means I'm using 200 points over 1 000 000 (numbrer of ms in one second)

[2020-03-03 07:16] ashtul opened #358 "Wrong double value in ts.range"
Per [discussion in Google group](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/redistimeseries/wH0R69e8lOs)

[2020-03-03 08:26] #348 closed

[2020-03-03 08:27] #341 closed

[2020-03-03 15:50] #358 closed

[2020-03-04 10:11] ashtul opened #361 "Add unit-tests infrastructure"
Decide on the platform (GTEST??) and add to `Makefile`.

[2020-03-05 11:03] federico-ercoles commented on #231
@gkorland Hi, I saw that the PR you mentioned was merged a few months ago and is going to be in the next release of Redis, has any work been done to implement keyspace notifications for time series?

[2020-03-06 16:37] #347 closed

[2020-03-09 08:39] gkorland commented on #231
@federico-ercoles no work has been done yet, but it's on the roadmap

[2020-03-09 14:39] #254 closed

[2020-03-10 21:33] danni-m commented on #333
@lyrixx can you please elaborate further how you insert and query your data and whats the meaning of the values?

[2020-03-11 09:58] lyrixx commented on #333
Sure :)

I'm building an HTTP crawler. Each time I discover / download / analyse / save a page, I added a data point in corresponding TS.
So If the website is quite fast, some race condition appear

Then I read theses TS data and I display them in near real time in the browser

![crawler](https://user-images.githubusercontent.com/408368/76404634-1149b780-6387-11ea-857f-d707303f7a27.gif)

[2020-03-13 04:34] asarchami opened #364 "How to use CREATERULE?"
Sorry for the noob question but I couldn't find good documentation.
I have a running process which adds new samples. When I create a new rule nothing gets aggregated to the `destKey`. Do I need to create the rule before adding values to the `sourceKey`? How the destination key gets the aggregates?

[2020-03-13 10:45] ashtul commented on #364
Hi @asarchami ,
You should create two series (or more) then attach each aggregation series to the source. Once you start adding samples, we aggregate values at the source and add them to the destination series only when a sample has a timestamp that belongs to a new time bucket.

Here is an example of a test we have:
[code]

[2020-03-20 06:20] SchedulerSimulator opened #365 "[Help] Wanted clarification for using this module"
I want to use this module for storing network link metrics in redis. I have the following questions for which I didn't find answers in the official release:

Q. What is the max number of labels which can be added?

Q. What is the max size of keys which is supported? I am intending to keep metric:link-name as key. Here since we identify link names by 6 tuple (source zone, destination zone, source d

[2020-03-20 10:36] ashtul commented on #365
Thank you for the inquiry.

A. There is no hard limit but you might experience some performance degradation when querying a  very large number of labels.

A. There is no limit as long as you have memory available for the module. We would recommend downsampling your data and retire raw data by using the RETENTION option.
We have recently added data compression to the module which reduces memory foo

[2020-03-21 19:57] krsna-sentieo opened #366 "allow adding with the same timestamp"
I understand its slow to add out of sequence values to the series. But what's issue with having the same timestamp added to the series. we have to store financial data and we have two values for the same timestamp. Is it something that could be added in future?

[2020-03-21 21:37] asarchami commented on #364
Thanks.

[2020-03-21 21:37] #364 closed

[2020-03-22 06:20] ashtul commented on #366
@krsna-sentieo
While technically it is not complicated to allow multiple values at one timestamp, we currently believe it is not the right fit. We continuously reconsider as we get feedback from developers.
As a question, would using a higher resolution, eg. microseconds, resolve your issue? or do samples have to be with the same timestamp?

[2020-03-22 07:52] ashtul commented on #309
Fixed with #293

[2020-03-22 07:52] #309 closed

[2020-03-22 12:40] DvirDukhan opened #367 "TS.MRANGE WITHLABELS returns an error"
flow:
[code]

[2020-03-22 14:41] danni-m commented on #367
@DvirDukhan currently `FILTER` (the filter query) should be always last.

[2020-03-22 15:34] SchedulerSimulator commented on #365
@ashtul thanks a lot for the quick reply.
We are also intending to keep data for 2 days at least. Is there any limit on retention period?

[2020-03-22 20:16] K-Jo commented on #367
@gkorland can we update the description of this https://github.com/RedisTimeSeries/RedisTimeSeries/issues/153
which should prevent you from creating wrong commands

[2020-03-23 07:47] ashtul commented on #365
@SchedulerSimulator
No, there is no limit on retention time. Just retention is milliseconds as well.

[2020-03-23 13:36] pvtpogopuschel opened #368 "Does RedisTimeSeries support Redis Cluster?"
Hello RedisTimeSeries team,

Thank you so much for building such a blazing fast and solid time series module for redis. We are using it very actively and are looking forward to further expand its usage within our application.

However, a very important question has crossed my mind a few times. Has anybody tried using the module with redis cluster so far? I have read of several other redis modules

[2020-03-23 13:55] gkorland commented on #368
RedisTimeSeries supports Redis Cluster and should run without any issues. If you encounter any issues please report. We at Redis Labs are testing it regularly on Redis Enterprise cluster.

[2020-03-23 14:14] pvtpogopuschel commented on #368
Perfect, thanks, @gkorland! I can reopen the issue if questions arise :)

[2020-03-23 14:14] #368 closed

[2020-03-23 14:28] gkorland commented on #368
With one exception (thanks to @danni-m for remind me) TS.MGET & TS.MRANGE can't work on keys that are cross slot

[2020-03-24 04:14] SchedulerSimulator commented on #365
Also, can labels have json values? I have a use-case where data points of a single key can have different values for same label name.
An alternative will be to have unique keys for each unique combination of labels. This usecase is blocking me from using this module. Can you please suggest what can be done in such cases.

For example, for one link link-1, metric latency, the datapoints can come wi

[2020-03-24 09:07] wenq1 commented on #366
I hesitate to imitate an argument here, so correct me if I'm wrong. However, the same topic happens again and again so I'd like to bring this to the devs' attention.

One of the reasons people start to look into a new project (in this case RedisTimeSeries), despite existing solutions (zset, stream) is it solves a particular problem. In this case same ts, multiple value, arguably a very common use

[2020-03-24 16:42] danni-m commented on #365
@SchedulerSimulator Labels are meant for metadata, adding per timestamp label is not currently supported.
What you can do is to split it to a different TS Key and use 1 and 0 for true and false.

[2020-03-25 08:00] ashtul commented on #295
At the moment, this is the desired and expected behavior.

[2020-03-25 08:00] #295 closed

[2020-03-31 06:23] #367 closed

[2020-03-31 09:39] pvtpogopuschel commented on #368
Makes sense! Thanks for pointing that out

[2020-04-08 12:29] frahubdev opened #370 "Assertion failed: leading + blocksize <= BINW (gorilla.c: readFloat: 441) on 32bit system"
System:

# server |  
-- | --
Redis version | 5.0.8
Redis git sha1 | 00000000
Redis git dirty | 0
Redis build | 194dd742fd55eb79
Redis mode | standalone
Os | Linux 4.19.75-v7+ armv7l
Arch bits | 32
Multiplexing api | epoll
Atomicvar api | atomic-builtin
Gcc version | 9.2.0
Process | 1
Run | ca34b6cd6a4c964bea88bc9161aa6885099de65a
Tcp port | 6379
Uptime in seconds | 3364
Uptime in days | 0
Hz | 10

[2020-04-08 12:46] danni-m commented on #370
@frahubdev can you share the inserted data?

[2020-04-08 13:44] ashtul commented on #370
@frahubdev this is likely related to PR #359
Are you using the latest image?
Please try the newest version to see if issue persists.

[2020-04-08 19:06] frahubdev commented on #370
@danni-m
the inserted data like this:

"TS.ADD" "EXAMPLE_KEY" "1586352834" "0.0"
"TS.ADD" "EXAMPLE_KEY" "1586352834" "0.0"

[2020-04-08 19:24] frahubdev commented on #370
@danni-m the inserted Data are very simpel like this:

"TS.ADD" "EXAMPLE_KEY" "1586352834" "104.1202"
"TS.ADD" "EXAMPLE_KEY" "1586352834" "73.557404"
"TS.ADD" "EXAMPLE_KEY" "1586352834" "235.709366"

do you whish a aof file or an "export" of the data?
should i check the length of the values(floats)?

@ashtul  yes it sounds like PR #359

i had compiled the redistimeseries.so from:

commit d2b82cedd

[2020-04-09 08:01] frahubdev commented on #370
I have build it again and test it with another docker image: redisfab/redis-arm32v7-buster-xbuild:5.0.5

Now i get another failure:

=== REDIS BUG REPORT START: Cut & paste starting from here ===
1:M 09 Apr 2020 07:56:01.338 # Redis 5.0.5 crashed by signal: 11
1:M 09 Apr 2020 07:56:01.338 # Crashed running the instruction at: 0x76d84072
1:M 09 Apr 2020 07:56:01.338 # Accessing address: 0x30a64a3c

[2020-04-09 18:54] ashtul commented on #370
@frahubdev if you can provide an AOF it will be great.

I see you are using a 32bit image.
Can you see if the issue persists on 64-bit system?

[2020-04-13 06:49] frahubdev commented on #370
@ashtul yes, i will give a try to 64-bit system.

[2020-04-20 11:11] #225 closed

[2020-04-21 15:13] knguyenphi commented on #337
I'm using RedisTimeSeries to store IOT data (unix timestamp, integer value). My RDB file (uncompressed) is about 12 times my memory size (compressed). It would be wonderful if we can store/load compressed data straight to/from RDB (or maybe another file). Or having a mode setting in redis.conf where we can do this and don't need backward compatibility.

[2020-04-23 18:00] alesvaupotic opened #373 "Crash on incomplete TS.RANGE query due to parseCountArgument"
Hi, guys,

will somebody please confirm a crash for me? I pressed Enter too soon today on some queries and finally got this repeatable crash:
[code]
If not confirmed, I'll append the logs.

Thanks!

[2020-04-23 18:05] filipecosta90 commented on #373
hi there @alesvaupotic, you're absolutely right.
It's crashing due to the fact that we're only checking if COUNT is in the right position but not ensuring that there is an argument to call `RedisModule_StringToLongLong(argv[offset + 1], count)`.

[2020-04-23 18:07] alesvaupotic commented on #373
Thanks for quick confirmation. I'll manage in the meantime but looking forward to the fix.

[2020-04-24 10:48] knguyenphi opened #375 "Daily aggregation in local time"
My timeseries are (unix_timestamp, integer values).
When I downsample a timeseries to get daily average values, for example:

the result are daily values in UTC time! Local time here is UTC+7 so each daily value is from 7:00am of a day to 7:00am next day, which is not correct.
I don't know if there is a way to aggregate this correctly? If not could we declare a time offset somewhere for this purpo

[2020-04-24 10:54] knguyenphi commented on #375
I just realize that is the same as #349 (TimeBucket in specific timezone)

[2020-04-24 20:03] Onlyhope opened #376 "TS.Range returning empty list when there are values"
Hi, I've encountered this strange behavior while working with Redis Time Series.

(empty list or set)

1) 1) (integer) 1587513599000
   2) "6860.9110000000001"
2) 1) (integer) 1587513659000
   2) "6850.4610000000002"
3) 1) (integer) 1587513719000
   2) "6858.4579999999996"

I have a back-up RedisTimeSeries that does not have this issue, but this also has less traffic for inserts and reads. Below a

[2020-04-24 22:54] gkorland commented on #376
@Onlyhope it seems very strange, did you manage to recreate the issue?
Are you sure the data was there on the first call?

[2020-04-24 22:57] gkorland commented on #375
@knguyenphi these features are on our short list.

BTW, how are you adding the data to the timeseries? if you client is setting the time then you can just make sure you data is normalized to the right timezone.

[2020-04-24 23:25] Onlyhope commented on #376
Yes, I've re-run the same query after and same results. Planning to create a script to comb through the data to see any if there are more occurrences, but so far I haven't been able to reproduce it.

[2020-04-25 01:51] knguyenphi commented on #375
The data is used for analytic and monitoring by other programs interfacing
to Redis. Therefore we prefer to use unix timestamp so we don't have to
change code in those. Offset, normalized timestamp is an option that we
could go if we can' find a way to resolve this. Thanks!
Khanh

On Sat, Apr 25, 2020 at 5:57 AM Guy Korland <notifications@github.com>
wrote:

[2020-04-25 11:08] ashtul commented on #376
@Onlyhope Can you please share the commands so we can reproduce?

[2020-04-25 14:08] Onlyhope commented on #376
@ashtul I've automated the data ingestion and do not have the commands to reproduce. I will be trying to see if I can reproduce it manually in the next few days.

[2020-04-25 18:56] ashtul commented on #376
@Onlyhope what are the versions of TimeSeries you are using? (You mentioned a back-up)

[2020-04-25 23:00] Onlyhope commented on #376
@ashtul Both are using version 1.2.3

[2020-04-26 07:26] danni-m commented on #376
@Onlyhope can you pastet the output of `ts.info prices:1000:10007:840`?

[2020-04-26 10:44] ashtul commented on #376
@Onlyhope can you share the rdb file?
Also, can you try recreating on v1.2.5?

[2020-04-26 20:11] Onlyhope commented on #376
@ashtul I don't have RDB and AOF enabled. Never got it working. Maybe I'm misconfiguring it?

Yes I will try re-creating it on Monday and on 1.25

[2020-04-27 15:32] #373 closed

[2020-04-27 15:33] filipecosta90 commented on #373
hi there @alesvaupotic , the fix has been merged :)

[2020-04-28 06:32] RajvanshR opened #377 "Redis Time Series - Issue with precision (2.05 stored as 2.0499999999999998)"
Hi,
When I store a value of 2.05 for example; it gets stored as 2.0499999999999998. Can it store just 2.05? Is this expected behavior?
Screen shot of commands below.
![image](https://user-images.githubusercontent.com/64458974/80454179-46b26080-8947-11ea-8a61-c7b566893ee7.png)

Redis version is 5.0.8 and Redis Time Series version is latest cloned from https://github.com/RedisTimeSeries/RedisTimeSer

[2020-04-28 08:16] alesvaupotic commented on #373
Thanks so much. Keep up the good work, TimesSeries is awesome.

[2020-04-28 11:30] #377 closed

[2020-04-28 12:10] RajvanshR commented on #377
Thanks You very much. Working fine now.

[2020-04-28 16:30] SchedulerSimulator opened #379 "TS.Mrange giving less data than the actual"
I am using TS.Mrange with filters to get past 1 day's data across different keys at regular interval of time (every 5 min).
But I see at least once in a day I get less data than the usual (count of data fetched is less than it should be). I am unable to understand why this could be happening. Is there any logs which I can check for this? Or any pointers why this could be happening?

[2020-04-28 18:14] Onlyhope commented on #376
@ashtul Hi, I've sent you an email privately for the RDB file

[2020-04-29 09:36] ashtul commented on #379
@SchedulerSimulator
Can you provide more details? which version are you using? Have you upgraded recently? Have you introduced any changes to your program logic or you just haven't tested for it before?
What queries are you running and at what time are the changes?
It may be related to case #376 which I'm currently investigating.

[2020-04-29 13:33] ashtul commented on #376
@Onlyhope I have checked that fix #380 works.
Can you confirm?

[2020-04-29 13:35] ashtul commented on #379
@SchedulerSimulator Can you check if PR #380 fixed the issue?

[2020-04-29 14:11] Onlyhope commented on #376
Hi Shtul,

Sure. Checking on it now.

On Wed, Apr 29, 2020 at 9:34 AM Ariel Shtul <notifications@github.com>
wrote:

--
*Aaron Lee*
*B.S. in Computer Science*
*B.E. in Biomedical Engineering*
*Stony Brook University 2017*
*(347) 944-8085 <%28347%29%20944-8085>*

[2020-04-29 14:42] Onlyhope commented on #376
Having trouble building it off the branch Issue376 or committ 362f69a271a84bc857aabcaf03971aef022d0fd7.

Makefile:3: deps/readies/mk/main: No such file or directory
Makefile:8: /defs: No such file or directory
Makefile:9: /rules: No such file or directory
make: *** No rule to make target `/rules'.  Stop.

Any suggestions?

[2020-04-30 13:26] ashtul commented on #376
@Onlyhope
Thank you highlighting the documentation issue.

After cloning please run `git submodule update --init --recursive` and then `python system-setup.py`. You should be able to run `make test`.

[2020-04-30 14:13] SchedulerSimulator commented on #379
redis_version:5.0.7

No

No, I didn't make any changes to program logic. So, we store network link metrics in timeseries. Every 5 minutes, we query past 1 day's data a particular metric (so after one day the number of values for a metric are same since network infra doesn't change). I am seeing at least once in a day, my application gets less number of values from timeseries than other instants. E

[2020-04-30 14:16] SchedulerSimulator commented on #379
I don't see anything in redis logs as well. Where can I check the logs?

[2020-04-30 14:36] Onlyhope commented on #376
@ashtul Hi,

I ran the commands above and I'm getting the following errors:

[code]

[2020-04-30 14:56] ashtul commented on #379
@SchedulerSimulator

[2020-04-30 15:01] SchedulerSimulator commented on #379
So looking at past 1 weeks data, I am seeing this occurrence once every day. Why could this be happening?

[2020-04-30 15:07] ashtul commented on #376
seems you don't have `redis-server` installed

[2020-04-30 15:21] Onlyhope commented on #376
@ashtul
I see. Sorry!
These are the results from make test, using macOs Catalina 10.15.4.
make[1]: *** [tests] Error 1
make: *** [test] Error 2

Is this expected? Or am I missing something else?

[2020-04-30 16:20] ashtul commented on #376
Do you have `python` installed?
You should see something like:
[code]

[2020-04-30 22:01] Onlyhope commented on #376
@ashtul Sorry was running the tests locally, so I was seeing failing tests. Works fine in the remote server with redis-server up.

Everything works great! My scripts are not picking up any missing values so far. Thanks for the hard work!

[2020-05-06 15:41] nightwolfz commented on #264
We too have exactly the same use-case, it's the only thing stopping us from adopting RedisTimeSeries

[2020-05-06 15:53] nightwolfz opened #391 "Crashing on RDB Save: SeriesIteratorGetNext"
I've been investigating this problem for a few days now without any solution.
It happens with both redis and keydb.

Any ideas?

[code]

[2020-05-06 16:03] nightwolfz commented on #295
This would be an incredibly useful feature to have. Any plans on implementing this?

[2020-05-06 16:09] nightwolfz commented on #96
Any plans on adding this? We would be willing to accept any performance trade-off as our use-case is very low on inserts but high on reads

[2020-05-06 16:15] ashtul commented on #391
@nightwolfz
What version of the module are you using?
Are there any details about your data that can be useful?

[2020-05-06 16:22] nightwolfz commented on #391
@ashtul I've built it from master, at most 2 days old

[2020-05-06 16:27] ashtul commented on #391
@nightwolfz can you run a simple ts.range query?

[2020-05-06 16:28] ashtul commented on #264
@nightwolfz
We plan on adding this in the near future

[2020-05-06 16:30] ashtul commented on #96
@nightwolfz
We plan on adding this in the near future. Not sure yet about delete option.

[2020-05-06 16:38] nightwolfz commented on #391
Seems to be working

[code]

The RDB save error doesn't start right away, it works for a few saves then starts throwing errors. From the moment the error starts, no more data is saved in redis.

For information, I have overcommit memory enabled and the permissions to all the folders are correct.

[2020-05-06 16:47] nightwolfz commented on #391
@ashtul client side error

[code]

[2020-05-06 16:54] ashtul commented on #391
Can you get server-side log?

[2020-05-06 17:20] nightwolfz commented on #391
@ashtul Cleared everything and built from your branch. Running my code now, I'll report back to you in 20-30 minutes.

[2020-05-06 17:41] nightwolfz commented on #391
@ashtul Same issue, works for a while then crashes

[code]

[2020-05-07 07:30] ashtul commented on #391
@nightwolfz
Thanks for the tests. A few more steps that can help pinpoint the issue -
1. Compile using `make DEBUG=1`. This will generate a more detailed backtrace.
2. Run on Redis instead of KeyDB.
3. Test version v1.2.0 and if it fails then go back to v1.0.3.

[2020-05-08 19:13] djrobby opened #392 "RedisTimeSeries Module Crashes ON LOAD"
Copy & paste of the BUG REPORT below...

**Module Location & Permissions:**
[code]

**Redis Command Executed:**
[code]

**Bug Report**
[code]

[2020-05-08 19:36] filipecosta90 commented on #392
hi there @djrobby was able to reproduce the crash with:
redis:
[code]
redistimeseries 5e9bfc5034a0291abf5d8f951afd71cddb29b536

will update further when we find out the root cause =)

[2020-05-08 20:02] filipecosta90 commented on #392
hi there @djrobby so, we have the reason for it:

[code]
we're using the dictionary API from Redis, that was only introduced on v5.0.0[ ( commit adding it on redis )](https://github.com/antirez/redis/commit/4b0fa7a71f099348c62189e7ab6186b514823cc1)

given that you're using 4.0.9 it will not work. if you can upgrade redis >+ v5.0 that will work right away.
regarding the 4.0.9 version support per-se

[2020-05-08 22:08] filipecosta90 opened #393 "redis-server version should be verified on load"
#226 could be avoided by this
#392 as well
#294 also crashed ( 4.0.11 )

[2020-05-08 22:09] filipecosta90 opened #394 "redistimeseries git_sha should be logged on load"

[2020-05-10 11:13] itamarhaber opened #397 "Need a way to fail `TS.ADD` if key doesn't exist"
so an exception would be caught and the key created in my code.

[2020-05-10 11:16] danni-m opened #398 "Support rate aggregation for monotonically increasing counter"

[2020-05-10 13:25] ashtul commented on #397
Add [NOCREATE] flag

[2020-05-11 09:15] #392 closed

[2020-05-11 09:15] #393 closed

[2020-05-11 09:15] #394 closed

[2020-05-11 09:32] filipecosta90 commented on #392
hi there @djrobby this issue should not happen again given that we now check the minimum version for redistimeseries to properly work. =)

[2020-05-11 11:28] filipecosta90 opened #399 "display series type [UNCOMPRESSED|COMPRESSED] in ts.info and compression ratio on the later"

[2020-05-12 06:36] ashtul opened #402 "TS.MRANGE and TS.MGET do not accept l=(v) or l=(v1,v2...)"
Similar to #133

[2020-05-12 07:54] #402 closed

[2020-05-12 23:13] djrobby commented on #392
Hi @filipecosta90, I appreciate your help in this matter. Can you please make sure that this note (aka minimum redis version required) is included in your documentation at https://redistimeseries.io? I ask this becuase I wasted closed to 2-3 hours altering my system, thinking it was something wrong with my personal setup. I can only imagine others users experiencing the same level of frustration w

[2020-05-13 03:53] #376 closed

[2020-05-14 06:37] ashtul commented on #397
Meanwhile, you can use TS.MADD

[2020-05-14 14:09] ashtul commented on #391
@nightwolfz
Are you using retention time?

[2020-05-15 01:25] xxGL1TCHxx commented on #391
I found this issue while searching today.  I'm having what appears to be the same issue running Redis 6.0.1.  In my case, I AM using retention.  Actually, come to think of it, I can link my issues to when I set the Rentention time.  See my info below.

182:C 15 May 2020 01:17:54.197 # Redis 6.0.1 crashed by signal: 11
182:C 15 May 2020 01:17:54.197 # Crashed running the instruction at: 0x7f8e2814c

[2020-05-17 13:19] nightwolfz commented on #391
@ashtul Sorry for the late reply, in the end we decided not to go with Redis TS since there's no support for adding/updating out of order data (older timestamps).

[2020-05-17 15:42] ashtul commented on #391
@nightwolfz
Thanks again for the feedback.

I'm sorry to hear about the decision. I would like to let you know that we are developing `out-of-order` at the moment and will have a POC soon. I hope when it is production-ready, that you will reconsider.

For the bug, we have already a fix for the issue which is being reviewed. You can test it on [this branch](https://github.com/RedisTimeSeries/RedisT

[2020-05-18 17:08] nightwolfz commented on #391
@ashtul That's great to hear, very exciting news indeed!

We are working with financial data and our use-case is providing that data as fast as possible to (low or high frequency) trading bots and users. Since we are already using Redis for many things, it would be a perfect fit to replace our current time-series stack as well.

In order for us to migrate to Redis TS, we need to be able to migrate

[2020-05-20 14:02] #391 closed

[2020-05-21 12:24] K-Jo commented on #391
@nightwolfz Thank you very much for this information, this is really helpful for us.  One follow up questions, are you using [downsampling](https://oss.redislabs.com/redistimeseries/commands/#tscreaterule)?

[2020-05-21 15:49] nightwolfz commented on #391
@K-Jo Yes, downsampling is essential. However, for the said old data ingestion, this does not necessarily need to happen in realtime; we're okay with triggering a command / running jobs manually.

[2020-05-26 12:30] K-Jo commented on #332
@lyrixx this has been resolved in v1.2.1 https://docs.redislabs.com/latest/ri/release-notes/v1.2.0/

[2020-05-26 12:30] #332 closed

[2020-05-27 16:46] lyrixx commented on #332
Thanks :+1:

[2020-05-27 19:32] SutnuiBorshik commented on #275
Will this feature be available for MRANGE command as well?
And is there a rough estimate on version 1.4 release?

[2020-05-27 19:34] gkorland commented on #275
@SutnuiBorshik probably

Should be in the next couple of months, we still don't have final release date

[2020-05-27 20:02] SutnuiBorshik commented on #275
Thanks @gkorland. I'll be anxiously waiting.
Keep up a good work!

[2020-05-28 18:12] mingrui commented on #366
@ashtul

Hi, I have a similar use case, example:

stock market trade data have two values: trade:price & trade:amount

Currently my workaround is to use two keys to store these two values separately, with the same timestamp, which feels a bit clunky

would be great if there is an option to enable this feature, in this case I have my own aggregation functions to do computation on (trade:price & tra

[2020-05-31 08:43] ashtul commented on #366
@mingrui
Currently, we do not plan to add the capability of having multiple values in one timestamp. Having this option would make it complex to update one of the values on the timestamp, an option we are developing these days.
Using labels should work great but if you are looking for something else, have you considered using `timestamp` for price and `timestamp+1` for amount?

[2020-06-07 08:58] ashtul opened #412 "Reply error at catch and return REDISMODULE_ERR"
More concise and saves return of multiple states to be parsed later

[2020-06-07 10:38] pvtpogopuschel commented on #96
@ashtul  Is there an open ticket to track the progress on this issue? I can see there is a branch "out-of-order" that seems to be related to that feature. Also, there are some Pull Requests on this topic (if I am not mistaken), such as https://github.com/RedisTimeSeries/RedisTimeSeries/pull/410

However, this ticket is closed and I have not found an alternative or even a ticket in the 1.4 project.

[2020-06-07 13:19] danni-m commented on #379
@SchedulerSimulator Is this still an issue?

[2020-06-08 06:05] #412 closed

[2020-06-08 06:11] ashtul commented on #96
@pvtpogopuschel
Please see #413

Are you testing it? If you encounter any issues, please share them.

[2020-06-10 17:17] mikhailredis opened #414 "Redis crash when using TS.MRANGE with incorrect filter"
Command `TS.MRANGE` is crashing Redis when using an incorrect filter like `metric=(AAA,BBB,)`. It is a user error that should not crash database.
Tested on 1.2.6 and latest master.

[code]
[code]

[2020-06-11 10:07] #414 closed

[2020-06-12 09:31] shaunsales opened #419 "Hard crash in Redis when FILTER label arguments contains a trailing nil value"
Issuing the command `TS.MRANGE - + AGGREGATION last 86400000 FILTER testlabel=(testvalue1,testvalue2,)` causes the crash below. Note the trailing `,` in the label list.

[code]

[2020-06-12 20:39] gkorland commented on #419
Duplicate https://github.com/RedisTimeSeries/RedisTimeSeries/issues/414
Please check 1.2.7

[2020-06-14 21:23] dzunk opened #426 "TS.MADD error when adding multiple values with automatic timestamp"
I'm working on a [Ruby adapter](https://github.com/dzunk/redis-time-series) for this module, and came across this issue implementing the `TS.MADD` command.

The [docs for TS.MADD](https://oss.redislabs.com/redistimeseries/commands/#tsmadd) indicate "* can be used for automatic timestamp". When adding multiple values to a single series with automatic timestamp, only the first one is added, and the

[2020-06-14 21:27] gkorland commented on #426
The current version supports "append-only" mode. Meaning, two values can't have the same timestamp. The following PR is going to add this support, https://github.com/RedisTimeSeries/RedisTimeSeries/pull/413.

Notice, adding support for "out of order" mode in our example will probably result in 6 override the other values at the same timestamp.

[2020-06-14 21:33] dzunk commented on #426
Makes sense. I was imagining it might internally increment the timestamp for each value by 1ms, so `foo * 2 foo * 3 foo * 4` might wind up with `1592168764456`, `1592168764457`, `1592168764458` timestamps. If it's unsupported behavior though, I can make the adapter not accept multiple values for a single series like that, or automatically inject the timestamp(s). Thanks very much for the quick res

[2020-06-15 05:08] #426 closed

[2020-06-17 11:35] eadz opened #432 "[Need Help Reproducing] Race Condition? TSDB: Timestamp cannot be older than the latest timestamp"
I cannot reproduce this issue with redis-cli, but I'm pretty sure it's a race condition with RedisTimeSeries.

The  code I have below produces this in the `redis-cli monitor` logs, and then the error below

[code]
Error:

`TSDB: Timestamp cannot be older than the latest timestamp in the time series (Redis::CommandError)`

[code]

Obviously I'm not setting the timestamp, so I can't see how this can

[2020-06-17 12:23] ashtul commented on #432
@eadz
The module does not support doubles as timestamps and therefore all your timestamps overlap one another. Are you attempting to submit nanoseconds as timestamps?

[2020-06-17 12:25] eadz commented on #432
Looking at the code, it seems the timestamps can't be equal?

` if (timestamp <= series->lastTimestamp && series->lastTimestamp != 0)`

https://github.com/RedisTimeSeries/RedisTimeSeries/blob/61fb8252e42420060ce9840183fd9049ac89d3f2/src/tsdb.c#L219

[2020-06-17 12:25] eadz commented on #432
@ashtul as you can see from the `redis-cli monitor` output, I'm simply using `*` as my timestamp.

[2020-06-17 12:26] danni-m commented on #432
@eadz its a known issue, when you use `*` you get the current epoch timestamp (in milliseconds), when redis receives multiple requests in the same milliseconds it will raise an error due to the fact that we do not support overwriting samples or sending samples to an older timestamp.
Having said that, we are working on this and it will be resolved in the coming releases.

[2020-06-17 12:28] eadz commented on #432
Thanks @danni-m

[2020-06-17 12:36] danni-m commented on #432
Closing as a dup of 333

[2020-06-17 12:36] danni-m commented on #432
https://github.com/RedisTimeSeries/RedisTimeSeries/issues/333

[2020-06-17 12:36] #432 closed

[2020-06-17 12:41] eadz commented on #333
I am happy with the timestamp+1 approach too. I think if you are putting "*" for your timestamp it is not super critical.

[2020-06-17 13:36] danni-m commented on #419
@shaunsales Im closing the issue, if you feel we we need to reopened please go leave a comment.

[2020-06-17 13:36] #419 closed

[2020-06-17 15:08] lyrixx commented on #333
@eadz I already have `*` for my timestamps. Few days ago, I retried for 10 times and then I give up. And I got an error in production. Now I put the limit to 20 :grimacing: I don't really like this kind of "hack"

[2020-06-18 08:42] danni-m commented on #333
@lyrixx we're working on Out of order inserts and updates to existing data samples.
We want to better understand your usecase.
if I understand correctly, you are pushing a monotonically increasing counters every 1 MS or more. So if you report on the same timestamp you would be OK with having the latest sample, right?
Whats your expectation of the module when you hit the same timestamp thats alread

[2020-06-18 08:47] danni-m commented on #333
Also would you say if https://oss.redislabs.com/redistimeseries/commands/#tsincrbytsdecrby would be a better fit for your use-case?

[2020-06-18 09:00] eadz commented on #333
What I mean is, for my use case, I will be happy if redistimeseries automatically increments it.

Looking at the code:

https://github.com/RedisTimeSeries/RedisTimeSeries/blob/61fb8252e42420060ce9840183fd9049ac89d3f2/src/tsdb.c#L220

[code]
maybe the following change would work? ( of course, if there are many requests things will go into the future until there is a catchup period )
[code]

( I'm n

[2020-06-18 09:01] eadz commented on #333
Just to clarify my use case

 - A time series of website requests. A website request could happen in the same millisecond, that is the issue. But if the data is out by a few milliseconds, that isn't the end of the world.

[2020-06-18 09:14] ashtul commented on #333
@eadz
We can consider your suggestion as a flag for TS.ADD command.
Thank you for all the input.

[2020-06-18 14:51] gkorland commented on #370
@frahubdev did you try it on 64bit?

[2020-06-18 17:36] lyrixx commented on #333
Oh, I missed that in my use case. Indeed I must use this command. (and :facepalm: because I use this command at some other places haha). I will try it ASAP (next week)

[2020-06-20 12:15] shaunsales opened #434 "Negative timestamps not working as expected"
If we want to represent a timestamp older than UNIX Epoch, we need to use a timestamp with a negative value. However upon entering a negative value, no other timestamp values can be added after.

[code]

I think one of two things should happen;
1) Reject any negative value for timestamps, or
2) After adding a negative timestamp, any "newer" timestamp should be accepted

I would also suggest there

[2020-06-24 10:07] lyrixx commented on #333
Actually, I already use TS.INCRBY to store and display the graph I put in a [previous comment](https://github.com/RedisTimeSeries/RedisTimeSeries/issues/333#issuecomment-597542014) and it looks like everything is fine with this.

But I also use TS.ADD to store the number of error over the time. When there are too many error I do some stuff. So in this case I can not use TS.INCRBY because I need th

[2020-06-24 11:31] filipecosta90 opened #439 "On RedisModuleReplyWithError error messages must contain ERR"
Error messages must contain all the error, including the initial error code (ERR), as stated on the RedisModule_ReplyWithError documentation:

[code]

## Importance to the clients

This is important given that is breaking clients parsing RESP and properly handling it.
An example of it radix client, which is expecting the ERR to be contained on resp reply and given that it is not is causing errors

[2020-06-24 14:23] danni-m commented on #333
@lyrixx
If I understand correctly have a counter (that can only increase over time) that you keep in your app for error and you pushing that counter from different threads.

1. How do you handle the synchronisation between the threads? if each thread has his own counter, pushing to 1 key will not make a lot of sense.
2. "I need the real number of error on a period" - Would you say that an aggregat

[2020-06-24 14:24] danni-m commented on #295
@nightwolfz we just pushed "out of order" implementation to master, please take it for a spin. There's a big caveat on this feature that it is not time optimized, meaning that when you insert not in order you will occur a time penalty.

[2020-06-24 14:28] danni-m commented on #303
@KevinBrogan @wenq1 we just pushed "out of order" implementation to master, please take it for a spin. There's a big caveat on this feature that it is not time optimized, meaning that when you insert not in order you will occur a time penalty.
Please give it a spin and give us any feedback you have.

[2020-06-24 14:28] #303 closed

[2020-06-24 14:30] danni-m commented on #379
@SchedulerSimulator im closing this ticket, please reopen if you sill have issues.

[2020-06-24 14:30] #379 closed

[2020-06-24 14:48] #229 closed

[2020-06-24 14:49] #365 closed

[2020-06-25 14:19] lyrixx commented on #333
Oh, BTW in my log I found that the faulty line was :
[code]
So the error comes from also `TS.INCRBY`

[2020-06-28 00:50] gviamont opened #447 "Support installation for Pop OS"
Pop OS is a fork of Ubuntu that is installed by default on System 76 machines.  I was able to trivially get RedistTimeSeries to install with a couple of minor changes.  Without the changes diff'd below, make setup fails in the following two places:

Traceback (most recent call last):
  File "./system-setup.py", line 51, in <module>
    RedisTimeSeriesSetup(nop = args.nop).setup()
  File "./deps/re

[2020-06-28 01:04] gviamont commented on #447
I figure the contents of /etc/os-release may be of use as well:

NAME="Pop!_OS"
VERSION="20.04 LTS"
ID=pop
ID_LIKE="ubuntu debian"
PRETTY_NAME="Pop!_OS 20.04 LTS"
VERSION_ID="20.04"
HOME_URL="https://system76.com/pop"
SUPPORT_URL="http://support.system76.com"
BUG_REPORT_URL="https://github.com/pop-os/pop/issues"
PRIVACY_POLICY_URL="https://system76.com/privacy"
VERSION_CODENAME=focal
UBUNTU_CODENA

[2020-06-28 07:44] rafie commented on #447
Thanks for the feedback!
I thing we'll introduce Pop OS support in few levels:
(1) Enable `is-debian-compat()` via the `ID_LIKE` setting,
(2) Let `system-system.py` accept `--osnick` argument to override auto-detection,
(3) Use an embedded `distro` package for 2nd-line auto-detection.

BTW, is there by any chance a Pop! OS docker container available? (did not find any in Dockerhub).

[2020-06-29 19:03] mikhailredis opened #448 "Add documentation for Aggregation types"
The documentation mentions Aggregation types in different places (https://oss.redislabs.com/redistimeseries/commands/#tscreaterule, https://oss.redislabs.com/redistimeseries/commands/#tsmrangetsmrevrange), but without a proper explanation of what each type do.

[2020-06-30 07:02] danni-m commented on #333
Can you check if `tsIncrement` uses `*` or a specific timestamp?

[2020-06-30 07:59] valentyntu opened #450 "Is using metric name as label safe?"
Hi, we are working on a cache for a multi-tenant metric storage system. We tried adding labels like user id and metric name to each value stored. This gives the ability to query multiple metrics at once with filters like `metric=(a, b, c)` which is very convenient.

As keys, we use `1234_metric.name` where `1234` is user id and `metric.name` is a metric example, after that, we also add labels with

[2020-06-30 08:31] lyrixx commented on #333
The command is `TS.INCRBY <key> <value>` So it does not use a timestamp at all. So I guess it's the same as `*`

[2020-06-30 08:45] danni-m commented on #450
@valentyntu
Thanks for the feedback
Regarding memory space there are few things to reamember:
1. data is kept in chunks, if an *entire* chunk is rendered not relevant (AKA out of retention) it will be deleted. to optimize make sure that your chunk size fits the amount of data you are inserting and invalidating.
2. having more labels will make the label index bigger, I don't think this is a big iss

[2020-06-30 09:21] nethsix commented on #450
@danni-m Thank you.

In this case, how would labels be affected? They will just be deleted and if we tried to search for those labels, they won't be found?

Is there any documentation on this? Specifically under what conditions does it not handle MRANGE command properly? I googled around with "oss cluster mrange redis" but I could not find information related to this.

[2020-06-30 10:25] danni-m commented on #450
@nethsix its not properly documented, sorry for that.
In OSS Cluster, the client has a topology map of slot ranges, since MRANGE doesn't access a specific key its hard for the client and the redis-server to tell which shard should respond to that query. even beyond that there might be more than a single shard that have data for that specific query.

There's no easy solution for that, in Redis Ente

[2020-06-30 11:13] valentyntu commented on #450
@danni-m Thanks for the explanation!

[2020-07-02 08:23] nethsix commented on #450
@danni-m

Thanks for the explanation. Does this mean that if I have a cluster with just one node, this won't be an issue?

In some other time-series software, e.g., Graphite tags (https://graphite.readthedocs.io/en/latest/tags.html), or Prometheus (https://prometheus.io), both which also implement tags/labels similar to redis timeseries, using high-cardinality tags, i.e., tags with values that hav

[2020-07-02 09:02] valentyntu opened #452 "The docker image running in k8s fails after a while"
Hi, we've set up a k8s deployment using `redislabs/redistimeseries` docker image. Tried versions 1.2.7 and 1.4.1 on both the issue is present. The problem is the following:
for some reason RedisTS starts MASTER <-> REPLICA syncs, however, we thought cluster mode is disabled by default. These syncs fail and when we are trying to write anything to Redis during this sync, it fails with error: ...`You

[2020-07-02 09:50] danni-m commented on #452
@valentyntu does it work for you when you use the regular Redis docker image?

[2020-07-02 09:56] valentyntu commented on #452
@danni-m I didn't try that, we need redis time series specifically. What is interesting - it was working for days sometimes before this issue occurred. One more thing to consider - we don't need persistence mode, so maybe we should just disable it?

[2020-07-02 09:57] danni-m commented on #450
Correct.

I wouldn't say RedisTimeSeries handles high cardinallity better, currently we have a very naive indexer that is not optimized to high cardinality indices and high churn./

@nethsix what's your data pattern look like? how many series are you planning to use?

[2020-07-02 10:21] nethsix commented on #450
@danni-m Thank for your reply.

How we're using keys and label

ts.create metricA labels user_id=1234, metric=metricA
ts.create metricB labels user_id=1234, metric=metricB
...

ts.add metricA * 1 labels  user_id=1234, metric=metricA
ts.add metricA * 2 labels  user_id=1234, metric=metricA
...
ts.add metricB * 1 labels  user_id=1234, metric=metricB
ts.add metricB * 2 labels  user_id=1234, metric=met

[2020-07-02 10:22] valentyntu commented on #452
@danni-m redists recently had this error again and recovered this time, see the logs: https://gist.github.com/valentyntu/36fee34e245ca18ff682cbe26e0ee031. This happened when we started writing a lot of data there.

[2020-07-02 19:36] gviamont commented on #447
Hi @rafie this sounds very reasonable.  I poked around Dockerhub and could not find a container for Pop! OS there either.  When I get a chance I'll drop the System76 support group a request to create an official container there if that would be helpful.

[2020-07-06 13:00] nethsix opened #457 "Redis TimeSeries Memory Consumption Increasing Till Server Out of Memory"
Hello,

I've run out of ideas how to reduce redis timeseries memory consumption.

I confirm that retention_msec is taking place by doing `ts.info` for a `key` at different times; I note that the firstTimestamp, lastTimestamp, totalSamples have changed between the time times when I did `ts.info`

[code]

[code]

Note that I'm using msec as timestamp when doing `ts.add`.

What I've done to reduce me

[2020-07-06 13:32] ashtul commented on #457
Which version are you using?

[2020-07-06 13:34] nethsix commented on #457
@ashtul Sorry I forgot to include that

[code]

[2020-07-06 14:33] danni-m commented on #457
@nethsix did you see this on 1.4.1 only? can you paste the entire `info all` output to get a more precise view on the redis-server?

[2020-07-06 14:38] nethsix commented on #457
@danni-m

We only tested this on 1.4.1.

[code]

[2020-07-06 15:11] danni-m commented on #457
@nethsix looking at your data (1.2Mil) keys and data set (11.7GB) you can calculate that your average key size is `9938` bytes.
Also from looking at the example keys you have an average of 3.5 bytes per sample (thats a 80% reduction from the original size):
[code]
The default chunk size is 1024 is 4KB, I would recommend to use a smaller chunk size to reduce overhead and allow the module to expire

[2020-07-06 18:47] danni-m commented on #450
@nethsix that filter should return only keys that contain that specific user_id, so the question here is whatever the response is aligned with the actual labels on the keys.

[2020-07-07 04:29] nethsix commented on #450
@danni-m

Got it.

As `TS.MGET FILTER user_id=12345` returns only keys for that specific user (user_id=12345), and it returned a million different keys, but we also use key as label, i.e., we do `ts.add metricB * 1 labels user_id=1234, metric=metricB` (Note the key 'metricB' is used in label 'metric'), it means redis must have indexed 1M 'metric' labels.

Sorry if this all sounds confusing, but I'

[2020-07-07 15:10] nethsix commented on #457
@danni-m This is very helpful.

I dig into some other keys and found:
1. The maxSamplePerChunk is 256
2. Some keys have way less than 256 samples thus they keys contain only a single chunk
3. The timestamp for first & last samples in those single chunks are more than 12 hours apart, thus even though retention is 3600000 ms (1 hour) the old samples could not expire has the newer samples in the same

[2020-07-11 08:51] pvtpogopuschel commented on #173
@ashtul @danni-m Assuming I do not want redis to create buckets by itself but indeed need exactly @lyrixx expected behavior (one value) - is there a way to achieve this without the need for postprocessing in the app? I have tried increasing the time bucket value to extreme amounts, but this does not seem like an elegant solution to me.

Especially queries with AVG do suffer quite a bit if it's not

[2020-07-12 15:15] danni-m commented on #457
@nethsix note that `maxSamplePerChunk` is a tech debt we have. originally (for the uncompressed chunk) it used to define our chunk size, but since we have the compressed chunk this number is basically multiplied by 16 to get to the actual chunk size.
So maxSamplePerChunk=50 -> 800 bytes per chunk, for your data assuming 4 bytes per sample (I calculated 3.5 but lets take 4 to keep some overhead), t

[2020-07-12 15:56] Curclamas opened #464 "Calling TS.RANGE yields "0" even when there is no data"
### Observed

When trying to get an aggregated value (e.g. MAX, AVG) from a range where there are no samples stored in the database, `0` is returned as resulting value.

### Expected

There would be different ways to handle this (empty array, `NaN`, exception etc.). Getting a successful result of `0` is certainly (at least for me) not expected behavior.

### Reproduce

Try to run this on a range t

[2020-07-13 02:28] nethsix commented on #457
@danni-m Thank you very much. I will further reduce the chunk size for testing. I'll report back here soon with my test results.

[2020-07-13 14:44] ashtul commented on #450
@nethsix
When using `TS.ADD` on a series that already exists, all these extra variables are being ignored. They are used if and only if the series does not exist.
So, just like you wrote, the labels are used to group keys and not individual samples.

[2020-07-13 21:17] jsbed commented on #457
@danni-m On the other hand, if we keep adding new keys, while also reducing the memory footprint by lowering the `maxSamplePerChunk`. Since there' no TTL, in the end the memory will still overflow. Are their ways to remove 'expired keys' where the retention threshold has been hit.

In our situation, we have 'temporary entities' that are alive for a few days and then expires, but new ones get creat

[2020-07-14 06:25] ashtul commented on #464
@danni-m should we initialized `doubles` with `NAN` then use the `isnan` function to check if they were changed?

[2020-07-14 08:13] ashtul commented on #457
@jsbed You can use `EXPIRE` in order to retire a whole series after timeout is set.

[2020-07-14 08:43] ashtul commented on #366
Hi @mingrui ,
RedisTimeSeries version 1.4 (currently not GA) allows to update the value in a timestamp.
To have multiple values you will need multiple series.

[2020-07-14 08:43] #366 closed

[2020-07-14 13:30] jsbed commented on #457
@ashtul Thx for the idea.

Although, is there any reason why we couldn't add TTL parameter on the TS.ADD/TS.CREATE command? Is there any drawbacks on the current implementation or roadmap? If not, i might take the time to create a PR for this, as it could be a worthwhile feature. Or simply maybe taking the RETENTION time as the key TTL.

[2020-07-14 13:49] nethsix commented on #457
Is this true?

@ashtul

According to https://redis.io/commands/expire,

[code]

For redis timeseries, which of the TS commands will clear the (EXPIRE) timeout?

[2020-07-14 14:45] ashtul commented on #457
@nethsix
Thank you for your comment.
Currently, no function resets the expire. So once you set it, the series will be deleted after the time you set. We have the retention option which should take care of space-saving but it can be an interesting addition.
Please feel free to open an issue with a request to support `EXPIRE`.

[2020-07-16 07:45] lepe opened #472 "CREATERULE after data has been created"
According to #364 , rules need to be created before inserting data (but I couldn't find that in the documentation).

I have a series with hundreds of millions of records and I would like to create a rule to compact results. How can I do that without copying all the data again?
If there is no easy way to do it, can that functionality be added (perhaps populate the aggregation when there is already

[2020-07-16 08:16] gkorland commented on #472
@lepe is on our road map, there is no build in solution.
Duplicate #76

[2020-07-16 08:19] lepe commented on #472
Good to know. Thanks

[2020-07-16 08:19] #472 closed

[2020-07-16 13:20] K-Jo commented on #472
@gkorland @lepe https://github.com/RedisTimeSeries/RedisTimeSeries/pull/474

[2020-07-17 09:00] lyrixx commented on #173
@pvtpogopuschel I don't think so :/ I manually fixed that in my app instead

[2020-07-19 13:13] danni-m commented on #464
@ashtul i think it depends on the aggregation, for some of them, `0` is the right response (for example: count).
we probably need to implement it per aggregation, I don't see what we can apply that will always make sense.

[2020-07-19 13:49] Curclamas commented on #464
@danni-m @ashtul thx for looking into the issue!
I have looked a little into the actual code and think there would be multiple ways to implement it.

However from what I have seen, `count` would be the only case where `0` is actually meaningful. For all others, especially arithmetic ones, `NaN` would be more precise. First/Last would be a case where also an empty array could make sense. But also t

[2020-07-20 16:50] pvtpogopuschel opened #479 "Restore via redis-cli crashes the server on some dumps"
### Affected Versions (Tested so far)
* 1.2.3
* 1.2.7
* 1.4.2

### Observed Behavior
- Restoring (a previously dumped) TS crashes redis, even though thousands of similarly dumped files restore correctly.
- The crash can be reproduced consistently on all our machines and all versions listed above, but more versions seem to be affected
- The crash also happens on newer backups that contain the dump

[2020-07-20 18:29] JoelBender opened #480 "Build fails - BINDIR is undefined"
I'm attempting to build the module and install it into Redis server version 6.0.5.

Ok.

Strange, but there is an equivalent:

Seems to be fine.

Fails.  More info:

[2020-07-20 19:09] danni-m commented on #480
@rafie can you take a look please?

[2020-07-20 19:10] danni-m commented on #480
@JoelBender in the meantime you can use the docker image to run redis with the module preloaded.

[2020-07-20 19:17] danni-m commented on #479
@pvtpogopuschel it seems that there's some discrepancies between the sample count and actual persistent sample in the data.
Can you share the raw data?

[2020-07-20 19:25] filipecosta90 commented on #479
It seems that [rdb.c#L67](https://github.com/RedisTimeSeries/RedisTimeSeries/blob/master/src/rdb.c#L67) is the first place to raise the SIGSEV:

[code]

[2020-07-21 07:36] pvtpogopuschel commented on #479
@danni-m @filipecosta90 Thanks for looking into this!

I am currently exporting the series using a command as such using the raw flag:
```redis-cli --raw dump test | head -c-1 > test```

@danni-m  What other raw data are you referring to?

[2020-07-21 07:43] danni-m commented on #479
@pvtpogopuschel It looks like the serialized key has malformed data, can you provide a script (or a file) that contain the original samples that were inserted to the key? I want to reproduce the bug on the `DUMP` command.

[2020-07-21 09:22] rafie commented on #480
Please note that RedisTimeSeries uses Python 2 for automation (that is, Python 2 needs to be available, and `make setup` indeed installs it). So if invoking `system-setup.py` directly, it should be either `./system-setup.py` or `python2 system-setup.py`.
It is also recommended running inside a Python virtual environment.
We'll soon be moving automation to Python 3.
The `make setup` machanism is in

[2020-07-21 10:34] #480 closed

[2020-07-22 07:21] pvtpogopuschel commented on #479
@danni-m I do not have logs on which data has been inserted to this series. I could try to drop all time series but this one and upload the RDB file. Would that work?

[2020-07-22 07:34] danni-m commented on #479
@pvtpogopuschel thanks, but unfortunately the serialize function is the same for RDB and DUMP command so I suppose i'll get the same data. do you have a way to reproduce it maybe?

[2020-07-22 07:48] gkorland opened #482 "LLAPI for RedisGears"

[2020-07-22 07:49] gkorland opened #483 "Top `COUNT` samples query"

[2020-07-22 07:49] gkorland opened #484 "Deprecate old query syntax (docs)"

[2020-07-22 09:26] gkorland commented on #479
@pvtpogopuschel just to be on the safe side, the RDB used for the restore, on which version was it created?

[2020-07-22 09:48] pvtpogopuschel commented on #479
@danni-m Ah, damn! Good thing I asked though ;) - I'll see what I can do.
@gkorland 1.2.3 - I have checked the patch notes of the following releases and could not find anything that might be causing my issues

[2020-07-22 10:24] ashtul commented on #479
@pvtpogopuschel 1.2.5 had a fix that could cause discrepancy of the data.
We should highlight it and probably change urgency on the release notes to `high`.

[2020-07-22 12:24] pvtpogopuschel commented on #479
@ashtul Thanks for your feedback! I wonder if I can I safely upgrade to 1.2.5, considering the hickup already happened?
Will dumps from 1.2.5 be fixed or will the series above be broken "for good"? If so, can I repair it somehow?

[2020-07-23 05:56] ashtul commented on #479
@pvtpogopuschel can you try to run `TS.RANGE` on the original data and see if the results are as expected?

[2020-07-23 09:02] pvtpogopuschel commented on #479
@ashtul Just tried it, TS.RANGE successfully returned the series and there does not seem to be any corrupted or unplausible sample. Is it possible to prevent redis timeseries from crashing even if corrupted data is imported?

[2020-07-24 09:29] npiguet opened #486 "Behavior in case of errors is not documented at all"
In my application, I'm using `TS.MADD` to add points to multiple time series. I'm sometimes getting error such as `TSDB: the key is not a TSDB key` or `TSDB: Timestamp cannot be older than the latest timestamp in the time series`, which is fine. My problem happens when I try to recover from those errors.

When I get one of these errors (which is very seldom), I know that at least one of the points

[2020-07-26 07:24] gkorland commented on #486
First let me start by letting you know that starting with TS 1.4 out of order updates will be allowed, and such errors won't exist anymore.

As for the current version >=1.2

TS.MADD does let you know which value was wrong.
For example the in the following error you can see the first `a 5 5` succeed while `a 1 1` failed.
[code]

[2020-07-26 13:50] ashtul commented on #479
@pvtpogopuschel
This is odd and signals that the issue here is different.
It could be the issue is with `redis-cli --raw dump test | head -c-1 > test`. Why are you pipelining and cutting the file instead of running `redis-cli --raw dump test > test`. This probably corrupt the dump.

[2020-07-27 06:53] npiguet commented on #486
Well, that's very interesting (and also nowhere in the documentation, by the way). So in case of error `ts.madd` still returns an array? Are the error messages stored at the indices that correspond to the failed insertions?

Sounds like it loops on TS.ADD, and dumps the TS.ADD result at the corresponding index in the result array. Would that be a correct thing to say?

[2020-07-27 10:05] pvtpogopuschel commented on #479
@ashtul
If you do not cut off the last character, redis time series will not be able to import since the "raw" flag is not actually raw: [See this stackoverflow post on a short explanation.](https://stackoverflow.com/questions/16127682/how-to-use-redis-dump-and-restore-offline/16129052#16129052)

The very same command is used to export and then import thousands of timeseries in our database, it li

[2020-07-27 11:56] ashtul commented on #479
@pvtpogopuschel
Thanks for the explanation.
I have looked at your crash report and I suspect you are passing only part of the dump.
[code]
while the `test` file is much larger.

[2020-07-27 12:15] gkorland commented on #486
Yes,

[2020-07-27 12:27] ashtul commented on #479
@pvtpogopuschel
How many samples do you have in the original series? Is it `2897`?
We get the error after `1069` samples.

[2020-07-27 12:37] pvtpogopuschel commented on #479
@ashtul Interesting: A TS.RANGE command on all data of the series just returns the first 1069 samples, not 2897 - it just stops afterwards.

I was assuming a crash bug or something similar, so I have not considered digging deeper on whether the number of samples is plausible.

A similar result is yielded by executing a count aggregation.

[2020-07-27 12:42] ashtul commented on #479
@pvtpogopuschel and what does `TS.INFO` tell you?

[2020-07-27 13:20] gkorland opened #487 "TS.INFO ignore retenetion time"
[code]

`TS.INFO` shows all the events but should only return the relevant according to the `retentionTime` configuration

While `TS.RANGE` returns only the relevant events.
[code]

[2020-07-27 13:23] pvtpogopuschel commented on #479
@ashtul Here we go! TS.info on our test time series:
[code]

[2020-07-27 13:30] gkorland opened #488 "Fix documentation regarding time units"

[2020-07-28 06:18] #464 closed

[2020-07-28 08:18] ashtul commented on #479
@pvtpogopuschel
Can you please try to make a search beyond the point where the series stops?
For starter - `TS.RANGE test 1595861400000 1595861400000`

[2020-07-28 11:26] pvtpogopuschel commented on #479
@ashtul That is interesting: Executing this command yielded a result:
[code]
And afterwards, I can also query the entire series, effectively not stopping after entry 1069 anymore. What would have been the expected result?

[2020-07-28 13:08] ashtul commented on #479
@pvtpogopuschel
Interesting. Can you send me the full results so I can try and reproduce on my machine?

[2020-08-02 07:22] ashtul commented on #479
@pvtpogopuschel
Any news?
If you extract the entire series and then insert the same values into a new series, do you see the same faulty behavior as the old one?

[2020-08-02 12:03] pvtpogopuschel commented on #479
@ashtul I will try this as early as possible next week!

[2020-08-05 14:33] Curclamas opened #489 "AVG over Time, not over Count"
### Story

As developer I want to be able to get an AVG over time when using a time series database in order to avoid biases introduces by irregular data capture intervals.

### Requirement

- [ ] Instead of adding up the readings and divide then by count => add them up, weighted by the time between the readings and divide by the time between first and last reading

![image](https://user-images.gi

[2020-08-05 14:59] filipecosta90 commented on #489
Hi there @Curclamas , I believe both average and weighted average can coexist. There are use cases in which the point in time ( or distance among data points ) does no matter to the weight, so I would not discard the simple average, and add this as another aggregation over time WEIGHTED_AVG. This also imposes another issue regarding the specified ranges -> For example If I specify a start range th

[2020-08-05 16:12] Curclamas commented on #489
@filipecosta90, thanks for your input! What to do with the ends is a very good question! I see different options which all come with some sort of compromise:

- We can take only the time between the first and last element (this would be the cleanest option, as there is no "cheating")
- We can perform a linear interpolation at the far ends (this could be more accurate, but potentially interpreted a

[2020-08-07 13:01] dwoldo commented on #303
@danni-m  in REF to [this backfill commit](https://github.com/RedisTimeSeries/RedisTimeSeries/commit/6102a1ae6d29eb5ca23900cc88a131e529586a68) when you say "you will occur a time penalty", what is meant by this? How much of an impact?

 Our use-case is that we have distributed APIs and each will receive a large number of timestamped events from 1 or many IoT device. When 100 API endpoints receive

[2020-08-10 12:03] ashtul commented on #479
@pvtpogopuschel Any news?

[2020-08-10 13:12] danni-m commented on #303
@dwoldo unfortunately your specific use-case will cause higher latency for inserts.
we are working on making this faster using different technique,  but currently we are aiming to allow users to insert "missed" data points.

[2020-08-11 14:27] pvtpogopuschel commented on #479
@ashtul Apologies for not getting back to you earlier.

For now we are hoping that the update to the latest 1.2.x version will keep this issue from appearing on more timeseries.

We have planned an upgrade to that version now. Currently, we cannot really do more research to nail the issue down due to time constraints on our side. Instead, we have decided to blacklist the broken series in our resto

[2020-08-17 03:12] dpipemazo opened #492 "Data inconsistency/errors when potentially reporting two pieces of data within the same millisecond"
This logically makes sense but I think brings some undefined behavior into the system. Same issue in theory (but more blatantly user error perhaps) if trying to write the same timestamp twice.

A bit of background: We're [adding Redis Time Series](https://github.com/elementary-robotics/atom/pull/359) as our default metrics engine for [Atom](http://atomdocs.io/), our microservice SDK built on redis

[2020-08-17 09:38] danni-m commented on #492
Hi @dpipemazo, thanks for opening the issue.
Did you consider using your own timestamps (instead of `*`) in UT to avoid this race condition?

[2020-08-17 12:01] #439 closed

[2020-08-17 13:17] #488 closed

[2020-08-17 15:23] dpipemazo commented on #492
@danni-m Yes, thank you. We are currently doing this as a workaround (using system wallclock), but will still see failures with this method without mitigation if we call the same code path twice within 1ms of each other. This may happen for example with a bunch of async jobs measuring latencies finishing at the same time.

[2020-08-19 03:12] ashtul commented on #325
We can cal it TS.READ, similar to XREAD for streams.

[2020-08-19 20:59] yenly opened #498 "Unable to build and run locally"
I'm not able to install the module following instructions in the readme. Another user reported same thing in discord. What are we missing? I do have python on my laptop.

[code]

[code]

[2020-08-19 21:34] ashtul commented on #498
@rafie

[2020-08-20 06:55] gkorland commented on #498
@yenly did you run
[code]

[2020-08-20 08:02] yenly commented on #498
@gkorland Yes, you can see in my original message.
[code]

[2020-08-20 08:50] gkorland commented on #498
@yenly sorry I was too quick on the keyboard you're right...

[2020-08-20 11:59] filipecosta90 opened #499 "assertion fails at "tsdb.c", line=629: minTimestamp <= funcs->GetLastTimestamp(chunk)"
Checking the [redistimeseries-py failure](https://app.circleci.com/pipelines/github/RedisTimeSeries/redistimeseries-py/324/workflows/0fb0b959-9b98-46be-b5ea-696ee07d8aa9/jobs/651) it's truly a failure on our main repo.
running the redistimeseries-py tests:
[code]

produces the following failed assert on `getFirstValidTimestamp`, more specifically at:
[code]
here is the bt:
[code]

[2020-08-20 12:19] gkorland commented on #499
Is it the same issue https://github.com/RedisTimeSeries/RedisTimeSeries/pull/497?

[2020-08-20 12:30] filipecosta90 commented on #499
Yes. Totally right. linking the issue

[2020-08-20 14:53] #499 closed

[2020-08-21 17:57] gkorland opened #500 "Deprecate maxSamplePerChunk replaced by chunckSize"

[2020-08-26 10:55] #337 closed

[2020-08-26 11:17] filipecosta90 opened #504 ""ERR TSDB: Error at upsert" at high ingestion rates on compressed chuncks"
This error replies only happen on compressed chuncks at high ingestion rates.
Using the following RedisTimeSeries version ( git_sha = 0a42025f8e9065a6bad7f748bc57a5c873c9246d )

Steps to reproduce:

## get the tool
### linux based:
[code]

### darwin based
[code]

## run the benchmark

### Without logging the errors and checking the error replies rate

Notice that for 10M requests we've got ~11865

[2020-08-26 14:05] filipecosta90 commented on #504
closing as it has been fixed on #505 . Kudos @ashtul :)

[2020-08-26 14:05] #504 closed

[2020-08-27 02:31] dpipemazo opened #506 "`MRANGE` returning out-of-query results"
Hi all -- originally posted this issue on the grafana datasource but I think it might fit better here: https://github.com/RedisTimeSeries/grafana-redis-datasource/issues/56

I'm using Redis Time Series to monitor per-process CPU status on my machine, using `psutil` to scrape the system for process names and then monitor their CPU percentage over the sampling interval to unique, per-process keys wi

[2020-08-27 05:10] guozanhua opened #507 "How to insert some nanosecond sample data?"
We have capture some nanoseconds sample data, How can we insert nanoseconds timestamp data into redistimeseries?

[2020-08-27 05:38] ashtul commented on #507
@guozanhua,
As long as you treat your samples on the same scale, you won't have a problem.
So if your timestamps are in nanoseconds, you can use them. Just make sure the handle your `TimebBuckets` in nanoseconds as well.

[2020-08-28 01:44] alex6058 opened #509 "Inconsistent behavior of ts.mrange filter"
Hi,

Can you please check what could be wrong in the following scenario?

I have a number of keys of the same format and the same set of timestamps. Example:

[code]

I apply various search commands with a different set of labels in the filter. The output is very random: some keys are returned and others are not, although it expected to have all returned.

Example 1:

[code]

Example 2:

[code]

P

[2020-08-29 18:01] dpipemazo commented on #492
@danni-m I checked out `master` and can now see that the spirit of this bug is fixed, i.e. we won't get failures in this case but instead overwrites. This makes sense, but does add another failure mode into the mix: loss of data. Now, if I happen to have two calls to something I'm aggregating by COUNT or SUM that have the same timestamp (that occur within the same millisecond), I get overwrite/los

[2020-08-29 19:55] dpipemazo commented on #506
Upgraded Redis Time Series to latest version (commit `e8030d14e7b8e186518b1b551cfa3cde261bf3c3`) and the behavior has improved here -- no longer seeing the issue. Thanks!

[2020-08-29 19:55] #506 closed

[2020-08-30 15:04] danni-m commented on #492
@dpipemazo Thanks for the feedback!

Its important to note that you don't have to use `*`, you can use your own clock to determine the timestamp and avoid this issue.

This is where its up to you to decide how to handle multiple samples in the same timestamp, if you prefer you can use `TS.INCRBY` instead of `TS.ADD`.

I just want to make sure we are solving an actual issue and not something that w

[2020-08-30 15:06] danni-m commented on #507
@guozanhua note that "your mileage may vary", it will have some impact on compression ratio.
Beyond that, we might change the API in the future that might break you because we assume all timestamps related input are in milliseconds.

[2020-08-30 16:10] dpipemazo commented on #492
Absolutely agreed. I do think this is a real issue for us and I'll attempt to improve my explanation below.

Yes, we've started doing this. I still have the same issue that if I make 2x calls within the same millisecond it will resolve to the same clock value.

Thanks for pointing this out. I guess I can explain my use case a bit better. We're doing high-frequency processing of algorithms in a mul

[2020-08-30 16:35] dpipemazo commented on #492
We actually have a third scenario that this will show up in which is interesting. The first two scenarios happen "on the edge" on our robots. When we're running on the edge we're typically connecting to redis over a shared `tmpfs` volume between our Docker containers and using a unix socket to minimize overhead. This is a very high-frequency data logging use case, perhaps atypically so for redis.

[2020-08-30 16:51] dpipemazo commented on #492
Sorry for the multiple comments here but I think one final thought is worth mentioning:

Redis Time Series is **quite powerful** and we're using it in a way as a complete replacement for statsd/prometheus. Our code is planning to log to Redis Time Series directly. I think it makes sense that none of these features we're considering are useful when using something like a client-side aggregation too

[2020-08-30 17:16] dpipemazo commented on #507
@guozanhua I would be interested to see if the discussion in [this issue](https://github.com/RedisTimeSeries/RedisTimeSeries/issues/492) would help your use case. This wouldn't allow you to track data on the nanosecond-level, but it would ensure that N pieces of data within the same millisecond would be able to be captured.

[2020-08-30 17:51] danni-m commented on #492
@dpipemazo Thanks! thats a lot of information to digest :)
Did you guys use statsd to aggregate your input before using RedisTimeSeries?

[2020-08-30 18:19] dpipemazo commented on #492
@danni-m Yes, sorry about the length of the post(s) -- was mainly hoping to convey as much context as possible.

We've been struggling to find a good set of tools for this at Elementary. A few years ago (at another role, developing edge IoT firmware) I used statsd client-side and then pushed to a cloud-hosted Timescale DB instance. We logged all of our data to statsd over a local UDP socket and th

[2020-08-31 09:59] #500 closed

[2020-08-31 12:47] danni-m commented on #492
@dpipemazo Just an idea, what if you would report to a stream key that would then be automatically aggregated to 4 keys (count, min, max, avg).
This might be doable via https://github.com/RedisGears/RedisGears

[2020-08-31 14:41] dpipemazo commented on #492
@danni-m Sure, we could look into that. Thanks for the tip.

Before investing some time in an external solution on our end (gears, StatsD), are you essentially saying this is not something you think it's Redis Time Series's job to handle and this is going to be accepted as its behavior moving forward? I think you're really close to not needing any additional external solution through something lik

[2020-08-31 20:14] ashtul opened #514 "Remove trim function from ts.info"
TS.INFO as readonly cmd

[2020-08-31 21:45] ashtul commented on #509
Hi @alex6058,
Thank you for reaching out.
You are using curly brackets for the multi values filter which is not part of the syntax. It breaks the match for the label and could cause different solutions.
Can you try and run the query without the curly brackets and compare the results?

[2020-08-31 21:54] ashtul commented on #492
@dpipemazo
Thank you for the input and insights.
This is a very interesting idea and I can see the usefulness of it.
To accommodate your third suggestion, the series will have to hold the data differently since we'll have to save two values (value,count) since we want real average and not just averaging two numbers at the time.
Since this would require some major changes to the code, it is hard to

[2020-08-31 22:32] dpipemazo commented on #492
Yes, I agree about this, though I think we could perhaps get most of the way there quickly? For a decent amount of use cases (min, max, sum, count) would we be able to get away without having to change the data structure?

[2020-09-01 20:41] danni-m commented on #492
@dpipemazo While I agree we are not far from having "StatsD like functionality", implementing one should be a thoughtful process and will take time.
Working with Redis gears will allow us both to "mock" this behaviour and have better understanding of what is needed.

Im not sure we want to mix "database" like functionality with something that resembles more of a "stream processing/metrics aggregat

[2020-09-02 09:00] danni-m opened #516 "Split chunks are not 8 bytes aligned"
This can cause memory overflow, as seen in the following valgrind error:

[code]

[2020-09-02 11:05] #516 closed

[2020-09-02 13:25] alex6058 commented on #509
@ashtul yep, it exactly as you described! Thank you very much for your explanation, issue closed

[2020-09-02 13:25] #509 closed

[2020-09-02 16:42] ashtul commented on #492
@dpipemazo
Adding the option to aggregate data probably will not happen in this release as it will require a new type of chunk which will take time to develop.

You could do it by using TS.INCRBY as @danni-m suggested. You could even have average by having a second series where you incrby by 1 and then do the decision on the client.

We debate adding a flag that will change the behavior to the old

[2020-09-02 17:37] dpipemazo commented on #492
I'm still not sure I follow this. If we limit the aggregation options to `SUM`, `MIN`, `MAX` there shouldn't be additional chunk work required. Since the current behavior is just "replace", instead of doing that you can either do a sum, min or max and move on. This will solve the data consistency issues I've been discussing and while I agree it's not "fully featured" (can't do average, P95, etc.)

[2020-09-02 18:49] ashtul commented on #492
@dpipemazo
You can get `SUM` by using `TS.INCRBY` but you are right that some other metrics such as `MIN`, `MAX' and maybe also `FIRST`, `LAST` can be done with the current chunks.
I will take it to the team but regardless, it probably won't happen before the next release.

[2020-09-03 15:02] dpipemazo commented on #492
@ashtul Thank you. I **really** appreciate you taking it to the team and understand the timing/release cycle. I'm quite excited to see this feature move forward.

[2020-09-03 22:40] gkorland opened #521 "Add Duplicate timestamp policy on Create (PM-770)"
When a sample is added to a timeseries of which a sample already exists, we need a policy to handle this
Following should be added to TS.CREATE as feature options

`OVERRIDE_POLICY` with options:
   *  BLOCK (error)
   * MIN
   * MAX
   * LAST (default as it equals replace)
   * FIRST (ignore the new sample)

[2020-09-03 22:43] filipecosta90 commented on #521
@gkorland does it need to be on creation, or can it be on insertion like for example timescale with the `ON CONFLICT` [clause](https://docs.timescale.com/latest/using-timescaledb/writing-data)?:

[2020-09-04 17:32] filipecosta90 commented on #96
hi there @fanlix you're totally right. This feauture was added on https://github.com/RedisTimeSeries/RedisTimeSeries/pull/437
and it's present both on v1.4 and master branches

[2020-09-04 17:39] filipecosta90 commented on #303
Hi there @dwoldo , as @danni-m stated this was this feature added both to 1.4 and master branches. Regarding overhead of out-of-order insertions it is also related to wether you are using compressed/uncompressed chuncks, how loaded are your instances ( given that for compressed chuncks this requires extra computation ) and the percentage of OOO we're talking about. We will release further document

[2020-09-05 10:36] K-Jo commented on #521
@filipecosta90 @gkorland @danni-m let's have latest discussion on PM-770

[2020-09-05 17:58] dpipemazo opened #522 "Crash when loading previously saved `.rdb` backup when upgrading to current `master`"
Upgraded `RedisTimeSeries` from commit [e8030d14e7b8e186518b1b551cfa3cde261bf3c3](https://github.com/RedisTimeSeries/RedisTimeSeries/tree/e8030d14e7b8e186518b1b551cfa3cde261bf3c3) to commit [7303937c6053e0cc678d5ad3c9dc33efd68c473b](https://github.com/RedisTimeSeries/RedisTimeSeries/tree/7303937c6053e0cc678d5ad3c9dc33efd68c473b) to commit

Upon attempting to load redis and have it restore from a p

[2020-09-05 19:12] ashtul commented on #522
@dpipemazo We have tweaked the rdb saving format a bit before the release so unfortunately,  this is expected.
Sorry for the inconvenience.

[2020-09-05 20:04] #522 closed

[2020-09-05 20:07] dpipemazo commented on #521
@gkorland Thank you for working on this.

One thing missing here from the discussion in #492 is a `SUM` option. Would the `SUM` be possible as well? This would be useful for counting things at potentially high frequency without missing data.

[2020-09-06 07:23] danni-m commented on #521
@dpipemazo Your information on #492 really helps to understand your use-case, but im not sure this will solve it altogether.
What we are planning to do here is to take the raw data and aggregate it on insertion. this means we will agregate *once* and only once.

If you are reporting timing (in MS for example) and you aggregate using SUM, you will end up having the sum of all the timing without the

[2020-09-06 08:18] #514 closed

[2020-09-06 12:29] TrustVeriCor opened #524 "Client issues with RedisTimeSeries commands"
Is there a way you can add the TS commands as built in commands?

For redis pipeline, I am forced to insert the call command. I don’t know what the performance delta would be between built in command and using call in this way, but I assume that it would not be negligible.

[2020-09-06 12:42] danni-m commented on #524
@TrustVeriCor which client are you using?

[2020-09-06 12:47] TrustVeriCor commented on #524
IOREDIS NodeJS

redisClient.pipeline(array of arg arrays).exec()
- this yields TypeError Apply undefined

redisClient.pipeline(array of call + arg arrays).exec()
- call arg array syntax: [‘call’, ‘ts.add’, key, timestamp, value,
‘labels’, lab1, lab1_val]

- this functions correctly

On Sun, Sep 6, 2020 at 8:42 AM Danni Moiseyev <notifications@github.com>
wrote:

Brian Thompson
Vericor

[2020-09-06 12:56] danni-m commented on #524
@TrustVeriCor We don't have a JS/IORedis client yet, sorry for that. Its totally fine to use the "generic" command, Im not familiar with ioredis, but in most clients the performance impact is small.

[2020-09-06 13:05] TrustVeriCor commented on #524
Understood.

From what I have gathered, IOREDIS loads a built-in command set from the
redis instance context. For RTS module, this context loads automatically
for redis-cli. This RTS module command context should load for IOREDIS
without modifying the client library.

It seems like there should be RTS module commands in the redis instance
built-in commands that link to the RTS module commands.

In

[2020-09-06 13:25] danni-m commented on #524
@TrustVeriCor thanks for the feedback! I don't have any exprience with io-redis. @gkorland maybe we should take a look at this.

[2020-09-06 16:35] dpipemazo commented on #521
That's fine -- I won't use `SUM` for timing. I'll use something like `FIRST` or `LAST`.

I do want `SUM` for event counting and would indeed plan to do that on a different key. Thanks!

[2020-09-07 10:54] AlKorochkin opened #527 "Duplicate rule for key"
Hello,

**Versions**
[code]
I installed the module following **Build and Run it yourself** from readme. RedisTimeSeries version looks strange:
[code]

**Issue**

I noticed that the source key can contain duplicate of the same rules:
![series rule](https://user-images.githubusercontent.com/60496858/92369772-ddbbd000-f112-11ea-97f5-def87e600009.jpg)

Attempting to create a duplicate rule for a key u

[2020-09-08 07:07] danni-m commented on #527
Hi @AlKorochkin, this does seems like a real issue.

Can you provide the exact steps that got you to this situation?

[2020-09-08 10:08] AlKorochkin commented on #527
**Initial state**
* redis-server stopped
* rdb-file deleted

**Reproducing steps**
1. start redis-server
2. connect by redis-cli
3. create source key:
`localhost:6379> TS.CREATE TestKey-1 LABELS type test`
`localhost:6379> OK`
4. add points into the series:
`localhost:6379> TS.ADD TestKey-1 * 1.0`
`localhost:6379> OK`
`localhost:6379> TS.ADD TestKey-1 * 1.1`
`localhost:6379> OK`
5. create dest key

[2020-09-08 13:44] Poluect opened #528 "redis crash when series keys expire"
Hi! We are using rts with constantly having around 9k series keys. Each series key samples have 2 days retention period, and series itself has ttl 3 days (on each new sample ttl refreshed). Periodically (each 20s) data grapped from rts via ts.mrange. Exactly at a time ttl starts removing keys,  redis craches, most likely triggered somehow by `ts.mrange`, when after all keys loaded, but before labe

[2020-09-08 16:31] danni-m commented on #528
@Poluect thanks for the bug report, i tried to reproduce it without any luck (on redis 6).
Can you check if this happens on Redis 6? (there were a few fixes in the RAX implementation in the last year and I want to check if its related or not)

[2020-09-08 17:37] Poluect commented on #528
Hi @danni-m, thanks for quick reply! Yeah I tried to reproduce the case locally with the same data on newer rts (used image 1.4.4), and it also crashed, but with OOM message, although the case I described didn't contain OOM error. In case of 1.4.4 version, at the time of crash 2k keys have been deleted by ttl (7k left). Not sure if these two cases are related though

[code]

[2020-09-09 07:05] AlKorochkin commented on #527
Also I noticed that after restarting Redis, TS.INFO for the destination key contains NULL in the sourceKey field while should contain the name of the source key.

[2020-09-13 19:40] gkorland commented on #528
@Poluect did the issue remain?

[2020-09-13 20:38] danni-m opened #531 "`REVRANGE` is broken for compressed chunk with 4096 samples"
This happens because uncompressed chunk is limited to `short` which can lead to overflow due to the fact that uncompressed chunk can have more than 4k samples which will then be translated to over 32,767 bytes.

[2020-09-14 09:18] #531 closed

[2020-09-14 13:59] #521 closed

[2020-09-14 14:33] gkorland opened #533 "Dump/Restore doesn't restore the rules correctly"
1. Create rule from ts1 to ts2
2. Dump ts1
2. Del ts1
3. Restore ts1
4. --> ts1 has a rule pointing to ts2
But --> t2 doesn't have source pointing to ts1

[2020-09-14 15:48] Poluect commented on #528
yeah, still happens. At first I thought OOM issue I described above was just a local case, as there is a limited memory for docker, but memory spike was actually huge
[code]
18446744 terabytes, and the case also reproduced on redis 6.0.5

[2020-09-15 06:50] #527 closed

[2020-09-23 22:21] dpipemazo opened #542 "Crash when loading previous RDB dump when upgrading to `1.4.5`"
I had previously filed #522 and realize that I was on a non-stable branch, but I do believe backup files were invalidated with the `1.4.5` release.

Our current design on RTS is heavily dependent on our backups being able to continue to be loaded. We're using RTS as a time-series data store and writing to disk frequently. We can tolerate small data gaps between shutdowns and the last known backup

[2020-09-24 06:16] danni-m commented on #542
@dpipemazo Thanks for the feedback!
You should be able to upgrade/load from 1.2.x without any issues, we did break the rdb during the release process of 1.4 but only for versions that were RC.

We do not plan to break the RDB format between versions at this point.

[2020-09-25 14:17] dpipemazo commented on #542
@danni-m thanks for this response -- this is great and much appreciated.

[2020-09-25 14:17] #542 closed

[2020-09-26 13:28] K-Jo commented on #533
@gkorland still valid?

[2020-09-26 13:29] K-Jo opened #543 "Create top level Visualisations section in docs"
Should at least include a section on redis-grafana data source

[2020-09-26 13:30] K-Jo opened #544 "Create separate Client libraries page"
like https://oss.redislabs.com/redisearch/Clients/

[2020-09-29 12:30] gkorland commented on #533
@K-Jo Yes, wasn't fixed

[2020-10-01 09:29] AlexMikhalev commented on #447
Bump. As paela shared with RedisGears, I reached the same point when trying to compile RedisGears on Pop OS. osnick to system-system.py sounds good or expanding in readme what make setup actually trying to install will do.
Pop OS is pretty much the only way to get a decent user experience on a laptop with Nvidia RTX card, I would expect more people to come here.

[2020-10-01 10:35] rafie commented on #447
@AlexMikhalev I've recently added support for Ubuntu-compatible OSes in readies/paella.
Basically `./deps/readies/bin/platform` should now identify the system as the underlying Ubuntu, which will enable the installations to complete.
It should be reflected in RedisTimeSeries very soon (PR #545).
I will later add an `--brand` option, which will report the brand values.

[2020-10-01 13:59] #487 closed

[2020-10-01 14:38] SutnuiBorshik opened #547 "TS.MRANGE exclude keys with no samples from the response"
Hi. Is it possible to exclude keys that have no samples in requested time period from the TS.MRANGE response?

Example:
[code]
we receive result
[code]
I would like keys `key2` and `key3` to be excluded from the output. I understand that we can filter them out on client side, but when amount of keys with requested label reaches tens of thousands and we add `WITHLABELS` to the request, then the res

[2020-10-01 16:17] AlexMikhalev commented on #447
Thank you, @rafie. Looking forward to it.
A

[2020-10-11 14:31] danni-m commented on #109
Closing now that we have this in https://github.com/RedisTimeSeries/grafana-redis-datasource

[2020-10-11 14:31] #109 closed

[2020-10-12 18:25] jeffreylovitz commented on #528
@Poluect This issue should now be resolved on the master branch due to the fix introduced in #549.

[2020-10-14 13:39] danni-m commented on #547
Hi @szaydel and @dpipemazo, we are wondering if to make the filtering by default or add another flag like `WITHLABELS`. there's also a question about backwards compatibility, which will probably drive us to add a flag for this.

[2020-10-14 15:40] dpipemazo commented on #547
@danni-m I would agree that it's likely best not to break backwards compatibility. A flag would be a great feature!

[2020-10-19 07:57] Poluect commented on #528
@jeffreylovitz awesome, thanks!

[2020-10-19 08:33] K-Jo commented on #547
@filipecosta90 @danni-m @dpipemazo `SKIPEMPTY`?

[2020-10-19 11:12] danni-m commented on #547
@K-Jo what about `IGNORE_EMPTY`? also we probably want to an underscore to be more consistent with the rest of the API.

[2020-10-21 06:40] ashtul commented on #547
A module parameter to have a default would be convenient since some users would never want `EMPTY`.

[2020-10-22 18:27] VividVisions opened #558 "Cannot build on macOS"
I've tried building this module on macOS 10.14.6 but it fails on many fronts.
First, I encountered the error mentioned in #498.
Then, if I (kinda) fix that and run `make setup` as ordinary user, it fails with this error:

If I run it with sudo, Homebrew refuses to work because it should and can not be run as root (see [Homebrew FAQ](https://docs.brew.sh/FAQ#why-does-homebrew-say-sudo-is-bad)) but

[2020-10-22 20:33] rafie commented on #558
@VividVisions I suspect there's something wrong with your `/usr/local` permissions. This can be caused by forcing `brew` to run with `sudo` (or as `root`), making it create files and dirs under `/usr/local` with `root` ownership, which later will prevent `brew` from accessing them when run as a regular user.
The above problem can be fixed by running `sudo chown -R $USER /usr/local`, but please han

[2020-10-22 22:51] VividVisions commented on #558
@rafie Thank you so much for your quick reply! I should've figured this out by myself but it was a long day. After fixing the rights of `/usr/local/Frameworks` and other Homebrew related directories, it worked following the steps you posted.

And I had to symlink `/usr/bin/python` to `/usr/local/bin/python2`. An alias didn't suffice.

Now I get this when starting the Redis server with loadmodule:

[2020-10-24 05:33] gkorland commented on #558
No it's not a bug, it indicates you're using code straight from master branch, please notice the official versions are tagged on git.

[2020-10-28 15:40] racc-costa opened #560 "TS.RANGE + AVG + timeBucket"
Hello team! RedisTimeSeries module has helped us a lot, good work and thanks.

I have a question about how to implement a query using AVG aggregation, I've read the docs and some issues (questions like [489](https://github.com/RedisTimeSeries/RedisTimeSeries/issues/489) here about it, but I don't know if it applies to my use case, so I decided to ask explicitly.

Let's say I have the data below:

[2020-10-29 12:43] racc-costa commented on #560
I've implemented a `workaround` using a very large AVG timeBucket, as in:

`TS.RANGE ts-1 1603879200000 1603879203000 AGGREGATION AVG 9223372036854775`

[2020-10-29 20:37] gkorland commented on #560
@racc-costa as you found out the workaround is to force a single bucket.

In the first example as you noticed you got two aggregation buckets, which are aligned to 3000 but 1603879203000 is the first timestamp of the next bucket.
[code]

On your second example the buckets aligned to 3001
[code]
The first bucket range is [1603879196500 - 1603879199501) and the second [1603879199501-1603879202502)

[2020-10-30 05:02] udayshankarv opened #561 "Redis 5.0.3 crashed by signal: 11 (Redistimeseries.so with compaction policy set)"
Redis frequently crashing when compaction policy is enabled.

loadmodule /opt/redis/redistimeseries.so DUPLICATE_POLICY Last COMPACTION_POLICY sum:300s:90d;count:300s:90d;sum:1800s:180d;count:1800s:180d

Redistimeseries module version : 1.4.5

When the module is loaded without COMPACTION_POLICY, It is seamless.

=== REDIS BUG REPORT START: Cut & paste starting from here ===
14861:M 29 Oct 2020 07:

[2020-10-30 18:07] filipecosta90 opened #562 "Validate 16 potential issues (Null Dereference, Uninitialized Value, Dead Store) caught by running fbinfer(v1.0.0)"
quickly running fbinfer on the project we get the following list of
[code]
We need to double check and address positive ones.

[2020-11-01 09:21] gkorland commented on #561
@udayshankarv thanks for the report, do you happen to have a way to reproduce it?

[2020-11-02 05:21] udayshankarv commented on #561
These are the steps I was doing.
1.  loadmodule /opt/redis/redistimeseries.so DUPLICATE_POLICY Last
2.  start redis service.
3.  create 3k keys using redistimeseries-py cli
4.  ts.create rules for 3k [keys]
5.  ts.add 1 million samples in batches of 50k samples

The above setup works fine

When i'm using the compaction policy instead of rules for the same setup. Redis service crashes after adding

[2020-11-02 07:32] swilly22 opened #564 "Handle failure during RDB loading"
Free resources when failing to decode from RDB.
Let Redis know we're able to handle this situation.

[2020-11-02 14:44] filipecosta90 commented on #544
Closed as per #554

[2020-11-02 14:44] #544 closed

[2020-11-02 16:27] dpipemazo commented on #492
Closing this as the `SUM` duplicate sample policy was merged in with #565 . Thank you to @danni-m and the RTS team for working this in! It will help us a lot.

[2020-11-02 16:27] #492 closed

[2020-11-02 22:08] filipecosta90 commented on #561
@udayshankarv thank you for the script. We got it crashing as expected and collected more info.
@danni-m we're crashing at the condition due to sample being NULL. The chunk is empty as we will confirm by the local variable `numSamples` and `i`.
[code]
backtrace:
[code]
variables contents:
[code]

[2020-11-04 07:43] #399 closed

[2020-11-04 08:12] danni-m commented on #528
@Poluect please reopen if you continue to experience the issue after the fix was applied (we are going to release 1.4.6 that will contain this fix)

[2020-11-04 08:13] #528 closed

[2020-11-04 08:14] danni-m commented on #558
@VividVisions this seem to be resolved, im closing this issue, if you still have issues with the build please reopen.

[2020-11-04 08:14] #558 closed

[2020-11-04 08:15] danni-m commented on #498
@yenly were you able to build? can we close this issue?

[2020-11-04 08:17] danni-m commented on #479
hi @pvtpogopuschel, any updates on this issue?

[2020-11-04 08:18] danni-m commented on #447
@rafie @AlexMikhalev can we close this issue?

[2020-11-04 08:21] danni-m commented on #450
@nethsix There's no hard-coded limit on the index size, it will have some performance impact on querying and memory size.
Did you end up testing and see if its feasible for you to use?

[2020-11-04 09:01] rafie commented on #447
@danni-m Fix was merged, ok to close.

[2020-11-04 09:07] #447 closed

[2020-11-04 21:17] lpellegr opened #567 "Duplicate Policy of type Sum"
Is there any plan to add support for a duplicate policy of type SUM in addition to the one mentioned in the docs?

https://oss.redislabs.com/redistimeseries/configuration/#duplicate_policy

This would help when ingesting data from sensors where event occurrence may happen in parallel (i.e. at the same ms) but counted separately (i.e. summed).

[2020-11-04 21:21] filipecosta90 commented on #567
Hi there @lpellegr the duplicate policy sum has been merged to master and will soon be release as part of v1.4 ( as per #566 ).
In the meantime, you can check the latest docs in:
https://oss.redislabs.com/redistimeseries/master/configuration/#duplicate_policy
and use the current master branch ( or edge docker image to try it out ).
Please let us know if all is working as you expect :)

[2020-11-04 21:25] lpellegr commented on #567
@filipecosta90 What a timing :) I will wait for the PR to be merged and give a try. Thanks for the quick reply.

[2020-11-04 21:25] #567 closed

[2020-11-05 11:13] danni-m commented on #434
@shaunsales we need to block any negative timestamps, do you have a use-case for using them?

[2020-11-05 11:16] danni-m commented on #333
@lyrixx now that we have DUPLICATE_POLICY and out-of-order inserts, do you think we are missing something to allow you to use RTS?

[2020-11-05 11:20] #151 closed

[2020-11-05 11:22] #561 closed

[2020-11-05 12:01] lyrixx commented on #333
I didn't know about DUPLICATE_POLICY, that's very nice 👍🏼 (Here is a [link to the documentation](https://oss.redislabs.com/redistimeseries/configuration/#duplicate_policy), for other readers)

I'm closing this issue, it's all good for me

Thanks a lot for this project, and your time to fix my issue 💛

[2020-11-05 12:01] #333 closed

[2020-11-08 08:34] danni-m opened #571 "Update docs with `CHUNK_TYPE` and `TS.INFO` new flag"

[2020-11-09 06:52] shaunsales commented on #434
@danni-m The .NET `DateTime` range includes negative numbers when converted to Unix Epoch time. I don't think we should necessarily support negative numbers, but at least an error should be thrown.

[2020-11-09 15:41] #571 closed

[2020-11-09 15:43] AlexMikhalev commented on #447
@rafie are we working with master?
I still have the same error.

[2020-11-15 12:17] K-Jo opened #580 "Confusing docs on TS.CREATE: `ON_DUPLICATE` / `DUPLICATE POLICY`"
https://oss.redislabs.com/redistimeseries/commands/#tscreate

[2020-11-17 05:46] gjaldon opened #581 "Redis 6.0.5 crashed by signal: 11"
I am running RedisTimeSeries under docker compose with the `redislabs/redistimeseries` image.

It was running just fine in my local machine when running it through docker-compose the past few days. The first time I experienced the issue was when I would run our test suite that would connect to redis and then disconnect. Soon after, redis would crash. The crash would always happen soon after I run

[2020-11-17 06:54] gjaldon commented on #581
I also tried running `Redis 6.0.9` and still got the same error

[2020-11-17 07:40] gkorland commented on #581
@gjaldon can you please add the commands you are running to get to this crash?

[2020-11-17 08:10] gjaldon commented on #581
I tried reproducing the issue and it turns out calling `FLUSHDB` or `FLUSHALL` is what's causing my redis server to crash. I also call `TS.INCRBY` and `TS.RANGE` but they aren't crashing the server.

Looks like an issue with Redis itself and not RedisTimeSeries. Removing `FLUSHDB` or `FLUSHALL` no longer crashes my redis server.

[2020-11-17 08:24] gkorland commented on #581
Thanks for the info, it can still be a bug in RedisTimeSeries that is causing it. Any chance you have a full scenario that can recreate it?

[2020-11-17 08:34] gjaldon commented on #581
@gkorland you can reproduce this with:

1. Run redistimeseries in docker container: `docker run -it gjaldon/redistimeseries -p 6379:6379 redis-server --loadmodule /usr/lib/redis/modules/redistimeseries.so RETENTION_POLICY 8640000 COMPACTION_POLICY sum:1d:30d;avg:1d:30d`
2. Run redis-cli: `redis-cli`
3. In redis-cli do the ff:
  127.0.0.1:6379> TS.INCRBY 123:messages_received 1 TIMESTAMP 1692066600

[2020-11-17 09:52] gjaldon commented on #581
@gkorland have a question, if you don't mind. I tried doing the ff:
[code]
I'm expecting the operations above to create 3 different samples that are 86400000ms (1 day) apart from each other. That way, I can get total of messages received per day for the last 3 days with TS.RANGE. I run:
[code]

I was expecting to get 3 different values of 3, 4 and 2. These values represent the total of the counter

[2020-11-18 09:53] danni-m opened #583 "Use explicit allocator macros"
this relates to #581 where `tsdb.c` was using the OS allocator instead of Redis.
To avoid future mistakes instead of overriding `maclloc/calloc/free` functions with RM_* functions we should have our own macros (similar approach to redis gears)

[2020-11-18 11:50] #581 closed

[2020-11-18 11:52] danni-m commented on #581
@gjaldon I fixed the issue on master, can you verify it does not reproduce?

[2020-11-18 22:22] bcashier opened #585 "Kafka Connector to sink to Redis Time Series ?"
Hi !

Is there a kafka connector to sink data to redis as time series please ?

Thank you

[2020-11-22 12:26] danni-m commented on #585
Hi @bcashier AFAIK there isn't any kafka connector for RedisTimeSeries. (there's something for Redis AFAIK)
Im not very familiar with Kafka and/or its ecosystem, so I don't even know where to start. but, if you do end up writing one or adjusting one we will add it to our docs.

Beyond that, I think [lenses.io](https://lenses.io/) has integration with kafaka and RedisTimeSeries as part of their pro

[2020-11-23 14:09] danni-m commented on #479
@pvtpogopuschel im closing this issue, if you still have this issue please feel free to open.

[2020-11-23 14:09] #479 closed

[2020-11-23 14:11] danni-m commented on #370
@frahubdev please reopen if you still experience this issue.

[2020-11-23 14:11] #370 closed

[2020-11-26 07:19] sujonvidia commented on #101
Hello, I'm using redis in our messaging / calling application, so far I used it for calling purposes and it's working very good.
Now, I'm implementing redis as a caching layer in front of the cassandra database and need to use the RedisJSON module because nested data structures aren't supported by default. Our service is already in production so I need a confirmation to use the RedisJSON module as

[2020-11-26 12:24] gkorland commented on #101
If you're not developing a database or a database service and just use it in your node.js application you can use it under the RSAL license.

[2020-12-01 09:30] digiyouth opened #588 "ON_DUPLICATE min/max rules not working for negative values"
HI, I input these commands. Is the result correct?

[code]

--
redis info:
...
# Modules
module:name=timeseries,ver=10406,api=1,filters=0,usedby=[],using=[],options=[]

[2020-12-01 15:43] filipecosta90 opened #591 "CI failing unit tests not failing build"
If we check the following CI output we see that one of the unit tests is failing ( as expected ) and not failing the build
https://app.circleci.com/pipelines/github/RedisTimeSeries/RedisTimeSeries/2075/workflows/d1333f16-0313-44fa-961d-ad752f5c4034/jobs/5284

[2020-12-01 15:45] filipecosta90 commented on #588
Hi there @digiyouth you're totally right. Thank you for catching this one. We're fixing it right away on #590 and reply back as soon as we merge the fix.

[2020-12-02 01:52] digiyouth commented on #588
Thank you for your work! RedisTimeSeries is very useful!

[2020-12-02 10:24] #588 closed

[2020-12-02 10:24] #591 closed

[2020-12-06 14:47] lavan74 opened #595 "tests/test_module.py failing to compile due to Python version 3 not supporting trailing 'L"
Python version 3.8 does not support a trailing 'L'
There are hundreds of lines with trailing L and Python version 3.0 does not support this syntax anymore on /RedisTimeSeries/tests/test_module.py

See https://docs.python.org/3/whatsnew/3.0.html#integers for more details

_The repr() of a long integer doesn’t include the trailing L anymore, so code that unconditionally strips that character will ch

[2020-12-06 15:09] danni-m commented on #595
@lavan74 thanks for opening the issue, we need to convert the code to be python3 compatible.

[2020-12-10 10:15] cwr31 opened #598 "Retention policy should be the same as mainstream tsdb, like influxdb"
should use current timestamp.
not latest point's timestamp.

[2020-12-10 10:35] danni-m commented on #598
Hi @cwr31, can you provide more details or an example of what you expect to get?

[2020-12-10 10:48] cwr31 commented on #598
influxdb RP: Maximum age for samples compared to current machine time(or UTC) (in milliseconds)
RedisTimeSeries : Maximum age for samples compared to last event time (in milliseconds)

Influxdb's retention policy is more approachable than RedisTimeSeries's.

[2020-12-10 13:13] gkorland commented on #598
@cwr31 the server current machine time might not relate to the data time, which can result of some remote server or even on another timezone

[2020-12-10 14:01] cwr31 commented on #598
That situation rarely happen, but "last event time" may refer to ten years ago or 2 mins ago, it may confuse users. I tried to explain it to my colleagues(tsdb specialist) and our system(IOT platform) users, they all don't think it's a very good idea. Hope you guys reconsider the design about RP, and I am very glad to help RedisTimeSeries improve.

[2020-12-10 20:33] filipecosta90 opened #600 "Support IEEE 754 “not-a-number” value representation"
Further reference:
- https://en.wikipedia.org/wiki/IEEE_754-1985
- https://docs.oracle.com/cd/E19957-01/806-3568/ncg_math.html

Quoting [RTS gitter](https://gitter.im/RedisLabs/RedisTimeSeries):

currently it gives error response

how to forward fill

[2020-12-14 14:47] filipecosta90 opened #602 "Multi-Series GROUPBY and REDUCE support"
Expected argument extension to `TS.MRANGE`: `GROUPBY <label> REDUCE <reducer>`
[code]

##  Return Value

Array-reply, specifically it should include the following labels:

Labels:
 -  `<label>=<groupbyvalue>`
 -  `__reducer__=<reducer>`
 -  `__source__=key1,key2,key3`

-------------------------------------------------

## Current plan to discuss:

- [ ] Single-shard GROUPBY using RedisTimeSeries s

[2020-12-15 07:23] cwr31 opened #603 "support TS.DEL"
Once a time series is stored, it's occupied memory is monotonically increasing because retention policy will not delete expired data.

TS.DEL key fromTs toTs
means safe delete the 'key' time series's data in fromTs-toTs time interval

[2020-12-15 08:20] gkorland commented on #603
Duplicate https://github.com/RedisTimeSeries/RedisTimeSeries/issues/264

[2020-12-15 08:20] #603 closed

[2020-12-15 08:32] cwr31 commented on #603
Will expired data(use retention policy) be deleted and free memory

[2020-12-16 16:45] gdadon opened #604 "TS.ADD not accept 'ON_DUPLICATE` value"
steps to reproduce:
1. `TS.ADD test-key 123456 1 ON_DUPLICATE SUM` -> returns 123456
2. add sample with the same timestamp
`TS.ADD test-key 123456 1 ON_DUPLICATE SUM`

Expected:
timestamp 123456 sample will be the sum of both inserts
Actual:
(error) TSDB: Timestamp cannot be older than the latest timestamp in the time series

I've try to set the DUPLICATE_POLICY for the key and the module as well

[2020-12-16 16:54] filipecosta90 commented on #604
Hi there @gdadon, please notice that the duplicate policy support was added on version 1.4 as specified [here](https://github.com/RedisTimeSeries/RedisTimeSeries/releases/tag/v1.4.5).

You can check with docker very easily that you're example works on version >= 1.4:
[code]

Sample commands ( I've included also the `info modules` command output so you can check on your side which version you're us

[2020-12-16 17:29] gdadon commented on #604
i was on version 10206, closing this

[2020-12-16 17:29] #604 closed

[2020-12-16 17:30] filipecosta90 commented on #604
great! PS: you should definitely update to 1.4 to take advantage of all new features =)

[2020-12-17 13:38] gkorland commented on #603
data passed the retention time is deleted

[2020-12-19 17:41] CaptainCuddleCube opened #607 "Add an offset for aggregation queries to allow for aligned results"
Something I've been battling with lately, and it seems like there is no way I can set an offset when I'm aggregating with a timebucket. I'm using the python client.

To illustrate, lets assume I have ingested the data:
[code]
This is data that starts at 2, and increase by 1 between values.

Let's assume I want to get aggregated results from timestamp `5` until `9`, with steps of `3`.
[code]

So, y

[2020-12-22 11:16] #595 closed

[2020-12-22 14:34] xdrew commented on #298
Hi! Did you guys discussed this feature? I'd appreciate median or percentile. Any chances?

[2020-12-22 14:52] filipecosta90 commented on #298
Hi there @xdrew, thank you for raising this up again. Can you please describe the time-window that you would like to retrieve the median / quantiles, what quantiles are you interested on, etc...
The more we get details on the use-case the better :)

[2020-12-22 18:50] xdrew commented on #298
Sure. My exact use-case is the following:
TS.ADD courier_searching_time:10 * 76 LABELS restaurant 10
TS.ADD courier_searching_time:10 * 24 LABELS restaurant 10
...

What I can do now:
TS.RANGE courier_searching_time:10 '-1 hour' '+' AGGREGATION avg '1 hour'
TS.RANGE courier_searching_time:10 '-1 week -1 hour' '-1 week' AGGREGATION avg '1 hour'
TS.RANGE another_metric:10 '-1 week -1 day' '-1 week'

[2020-12-22 21:05] filipecosta90 opened #609 "series_rdb_load (new RDB format) causes leaks on compressed/uncompressed chunks"
Using the code in PR #606 and removing the following temporary suppressions:
[code]

you will notice the following leak report ( cc @gkorland this is not related to retention time ).
[code]
----------------------------
The simplest test to reproduce this is:

1) start valgrind as follow ( after removing the above suppressions from the valgrind suppressions file ):
[code]

2) run the following pyth

[2020-12-23 07:17] eadistar opened #610 "Aggregation on label ?"
QUESTION :
Is aggregation on labels possible?

I have a form which accepts 20 -25 inputs , now i have to get time data respect to each inputs and after applying  avg , count etc.
so if I add entry to a single timestamp with multiple labels  , is it possible to use filter and aggregation on label's value?

[2020-12-23 10:25] filipecosta90 commented on #610
Hi there @eadistar, by aggregation on labels you mean aggregating values from multiple time-series? Meaning for example if you have two series ( serie1 serie 2):
[code]
You would like to have the count/avg per timestamp for metric x? Can you please describe further you use-case with data? The more inputs we have, the better we can reply with a solution

[2020-12-23 10:39] filipecosta90 commented on #452
@valentyntu I believe this issue falls in the "meaningful offset" replication issue fixed on redis 6.0.4 as explained bellow:
[code]

With that in mind you should not experience this anymore if you use the redistimeseries docker image >= v1.4.2:  `redislabs/redistimeseries:1.4.2`.
Can you please check that is the case? Are you still experiencing this issue?

[2020-12-23 10:46] filipecosta90 commented on #361
This issue has been addressed by #443 , by extending the usage of minunit _"Minimal unit testing framework for C"_ with the proper Makefile rules and CI integration.